@model IEnumerable<Ctc.Ods.Types.Section>

@{
    ViewBag.Title = "ClassDetails";
}

<h2>ClassDetails</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            CourseSubject
        </th>
        <th>
            CourseNumber
        </th>
        <th>
            AdditionalInformation
        </th>
        <th>
            YearQuarterID
        </th>
        <th>
            SectionCode
        </th>
        <th>
            CourseID
        </th>
        <th>
            CourseTitle
        </th>
        <th>
            Credits
        </th>
        <th>
            InstructorName
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CourseSubject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalInformation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearQuarterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CourseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credits)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstructorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
