@using CTCClassSchedule;
@using CTCClassSchedule.Common;
@using MvcMiniProfiler;
@using Ctc.Ods.Types;
@model IEnumerable<CTCClassSchedule.SectionWithSeats>

@{
	MiniProfiler _profiler = MiniProfiler.Current;

	ViewBag.PageTitle = ViewBag.Subject + " " + @ViewBag.ClassNum + " at Bellevue College";

	Section course = (Section)ViewBag.CourseInfo;
	IList<YearQuarter> yrqList = (ViewBag.QuarterNavMenu as IList<YearQuarter>);
	string currentYrq = yrqList[0].ID;

	string PreviousYrq = string.Empty;
	string PreviousSectionID = string.Empty;
}

<script type="text/javascript" src="@Url.Content("~/Scripts/CtcClassSchedule.js")"></script>

<div id="scheduleMain">
	@Html.Partial("quarterNavigation")
	<div id="container" class="nosidebar">
        <div id="content">
            <h1 id="pageTitle">
                <span class="courseID">@(string.Format("{0}{1} {2}", course.CourseSubject, course.IsCommonCourse ? "&" : string.Empty, course.CourseNumber))</span>
				<span>@course.CourseTitle</span>
				<span>&#8226; @Html.CreditsValue(course.Credits)
				<abbr title="Credit(s) ">Cr.</abbr></span>
            </h1>

             <div class="aside">
				@if (!string.IsNullOrWhiteSpace(ViewBag.ProgramUrl))
                {
                    <div id="programWebsite">
                        <h2>Department</h2>
			            <p><a href="@ViewBag.ProgramUrl" class="programWebsite">Program Website</a></p>
		            </div>
		        }
            </div><!-- aside -->


            <div id="class-details">
                <div id="courseDescription">
				    <h2>Description:</h2>
                    <p>
				    @(course.CourseDescriptions.Count <= 0 || string.IsNullOrWhiteSpace(course.CourseDescriptions[0].Description) ? "* NO DESCRIPTION FOUND *" : course.CourseDescriptions[0].Description)
			        </p>
                </div>

					@if (course.CourseDescriptions.Count > 1)
		 {
			 <div id="courseDescriptionUpcoming">
				<h3>New description starting @course.CourseDescriptions[1].YearQuarterBegin.FriendlyName</h3>
				<p>
					@(string.IsNullOrWhiteSpace(course.CourseDescriptions[1].Description) ? "* NO DESCRIPTION FOUND*" : course.CourseDescriptions[1].Description)
				</p>
			 </div>
		 }

			    <div id="courseFootnotes">
               <p>
									@Model.First().CourseFootnotes
			        </p>
          </div>

		    @if (!string.IsNullOrWhiteSpace(ViewBag.CourseOutcome))
		    {
			    <div id="courseOutcome">
				    <h2>Outcomes:</h2>
                    <p>After completing this course, students should be able to:</p>
				    @Html.Raw(ViewBag.CourseOutcome)
			    </div>
		    }

            </div> <!-- class-details -->
            <div id="allSectionsbyQuarter">

				@using (_profiler.Step("Rendering sections by YRQ"))
		{
			foreach (SectionWithSeats sec in Model)
			{
				string thisYrq = sec.Yrq.ID;
				string sectionID = sec.ID.ToString();

				if (thisYrq != PreviousYrq)
				{
					<text>
			  <h2 class="course-YRQ@(currentYrq != thisYrq ? Html.Raw(" course-YRQ-past-quarter") : Html.Raw(string.Empty))">@sec.Yrq.FriendlyName</h2>
			  <div class="YRQClassTitle">
					@Html.Raw(string.Format("{0}{1} {2} - {3} &#8226; ", course.CourseSubject, course.IsCommonCourse ? "&amp;" : string.Empty, course.CourseNumber, course.CourseTitle))
					@Html.CreditsValue(course.Credits)
					<abbr title="Credit(s) ">Cr.</abbr>
				</div>

				<ul class="course-block@(currentYrq != thisYrq ? Html.Raw(" course-block-past-quarter") : Html.Raw(string.Empty))">
				</text>
				}

				if (sectionID != PreviousSectionID)
		{
			Html.RenderPartial("Sections", sec, new ViewDataDictionary { { "PreviousSectionID", PreviousSectionID } });
		}

			if (thisYrq != PreviousYrq)
			{
				@:</ul>
			}
				PreviousSectionID = sectionID;
				PreviousYrq = thisYrq;
			}
		}
	    </div> <!-- allSectionsbyQuarter -->

    </div>

    </div> <!-- container -->
</div>
