@model IEnumerable<Ctc.Ods.Types.Section>

<script type="text/javascript">

	$(document).ready(function () {

		$('.course-updated a').click(function () {

			var courseIdPlusYRQ = this.id;
			var availability = '.availability-' + courseIdPlusYRQ + ' .seatsAvailable';

			var courseUpdated = '.availability-' + courseIdPlusYRQ + ' .course-updated em';

			var originalSeatsAvailable = $(availability).html();

			$(availability).html('<img src="/Content/images/ajax-loader.gif" title="loading_seats_available" alt="loading_seats_available" />');

			$.ajax({
				url: '/Classes/getseats',
				type: 'POST',
				data: { courseIdPlusYRQ: courseIdPlusYRQ },
				success: function (result) {
					var indexOfPipe = result.indexOf("|");
					var seatsAvailable = result.substring(0, indexOfPipe);
					var friendlyTime = "updated " + result.substring(indexOfPipe + 1, result.length);

					//alert("updated: " + friendlyTime);
					//alert("pipe at position: " + indexOfPipe);
					$(availability).html("Seats: " + seatsAvailable);
					$(courseUpdated).html(friendlyTime);

				}

			});

		});


	});


</script>


<div id="scheduleMain">


@Html.Partial("quarterNavigation")




<div id="scheduleContentNoSidebar">


@foreach (var item in Model)
{
	if (@ViewBag.titleDisplayed == false)
	{

		<h3 class="course-title"><span class="courseID">@item.CourseSubject @item.CourseNumber </span><span>@item.CourseTitle </span><span>• @item.Credits <abbr title="Credits ">CR</abbr></span></h3>
		<p class="prerequisite"></p>

		ViewBag.titleDisplayed = true;

		<div id="courseDescription">
			<h3>Description:</h3>
			@ViewBag.CourseDescription
		</div>

	<div id="courseOutcome">
			<h3>Outcomes:</h3>
			@Html.Raw(ViewBag.CourseOutcome)
		</div>


	}

	if (@ViewBag.currentQuarter != item.ID.ToString().Substring(4, 4))
	{

		<h3 class="course-YRQ">@((item.ID).ToString().Substring(4, 4))</h3>
										 ViewBag.currentQuarter = item.ID.ToString().Substring(4, 4);
										 @item.Yrq;

	}




<ul class="course-block">

<li class="section-listing"><span class="item-number"><span class="descriptor">Item number: </span>@((item.ID).ToString().Substring(0, 4))</span>
		<ul class="section-details">
				<li class="section"><span class="descriptor">Section: </span>@item.SectionCode</li>

				<!--start of repeat offered information -->
				@foreach (Ctc.Ods.Types.OfferedItem offering in item.Offered)
				{
					<li class="instructor"><span class="descriptor">Instructor:</span>
						<ul>
								<li><a href="#">@offering.InstructorName</a></li>
						</ul>
				</li>

				<li><span class="descriptor">Meets: </span>
						<ul class="meets">
								<li>
										<span class="days"><abbr title="Mondays and Wednesdays">@offering.Days</abbr></span>
										<span class="times"><span class="descriptor">at </span>@String.Format("{0:t}", offering.StartTime)-@String.Format("{0:t}", offering.EndTime) </span>
										<span class="room"><span class="descriptor">in </span>@offering.Room</span>
								</li>
						</ul>
			</li>

				<li class="availability-@(item.ID.ToString())">
					<span class="descriptor">Seat Availability: </span>
					@if(@item.WaitlistCount > 0){
						<strong class="seatsAvailable">Class Full - @item.WaitlistCount on waitlist</strong>
						<span class="course-updated"></span>
					} else {
						<strong class="seatsAvailable">Seats: 2</strong>
						<span class="course-updated"><em>updated 5 seconds ago</em> <a id="@(item.ID.ToString())">[update]</a></span>
					}
				</li>





				<li class="section-notes"><span class="descriptor">Notes: </span>
						<ul>
								<li><span class="label">@item.AdditionalInformation</span></li>
						</ul>
				</li>
				}
				<!--end of repeat offered information -->

		</ul>
</li>

</ul>
}

</div>
</div>
