@using Ctc.Ods.Types
<!--
	coin-slider effects:

	width: 565, // width of slider panel
	height: 290, // height of slider panel
	spw: 7, // squares per width
	sph: 5, // squares per height
	delay: 3000, // delay between images in ms
	sDelay: 30, // delay beetwen squares in ms
	opacity: 0.7, // opacity of title and navigation
	titleSpeed: 500, // speed of title appereance in ms
	effect: '', // random, swirl, rain, straight
	navigation: true, // prev next and buttons
	links : true, // show images as links
	hoverPause: true // pause on hover

-->
	<script type="text/javascript">
		$(document).ready(function () {

			//Show the paging and activate its first link
			$(".paging").show();
			$(".paging a:first").addClass("active");

			//Get size of the image, how many images there are, then determin the size of the image reel.
			var imageWidth = $(".window").width();
			var imageSum = $(".image_reel img").size();
			var imageReelWidth = imageWidth * imageSum;

			//Adjust the image reel to its new size
			$(".image_reel").css({ 'width': imageReelWidth });

			//Paging  and Slider Function
			rotate = function () {
				var triggerID = $active.attr("rel") - 1; //Get number of times to slide
				var image_reelPosition = triggerID * imageWidth; //Determines the distance the image reel needs to slide

				$(".paging a").removeClass('active'); //Remove all active class
				$active.addClass('active'); //Add active class (the $active is declared in the rotateSwitch function)

				//Slider Animation
				$(".image_reel").animate({
					left: -image_reelPosition
				}, 500);

			};

			//Rotation  and Timing Event
			rotateSwitch = function () {
				play = setInterval(function () { //Set timer - this will repeat itself every 5 seconds
					$active = $('.paging a.active').next(); //Move to the next paging
					if ($active.length === 0) { //If paging reaches the end...
						$active = $('.paging a:first'); //go back to first
					}
					rotate(); //Trigger the paging and slider function
				}, 5000); //Timer speed in milliseconds (5 seconds)
			};

			rotateSwitch(); //Run function on launch


			//On Hover
			$(".image_reel a").hover(function () {
				clearInterval(play); //Stop the rotation
			}, function () {
				rotateSwitch(); //Resume rotation timer
			});

			//On Click
			$(".paging a").click(function () {
				$active = $(this); //Activate the clicked paging
				//Reset Timer
				clearInterval(play); //Stop the rotation
				rotate(); //Trigger rotation immediately
				rotateSwitch(); // Resume rotation timer
				return false; //Prevent browser jump to link anchor
			});

		});
</script>
<!-- TODO: Make the title configurable in web.config. Possible? -->
@{
    ViewBag.PageTitle = "Classes at Bellevue College";
}

@Html.Partial("quarterNavigation")
<div id="front_layout">

	<div id="home-main-content">

		<div id="browse-credit">
			<h2>Browse Credit Classes:</h2>

			<div id="browse-quarter">
				<p class="choose-quarter">Choose a quarter:</p>
				<ul>
	@foreach (YearQuarter yrq in ViewBag.QuarterNavMenu)
 {
				<li>
					<a class="yrq" href="@Url.Action("YearQuarter", "Classes", new {YearQuarter = yrq.FriendlyName.Replace(" ", "")})">@yrq.FriendlyName</a>
				</li>
 }
				</ul>
			</div>

			<div id="browse-divider">
				<img src="@Url.Content("~/Content/images/or_divider.gif")" />
			</div>
			<div id="browse-all-classes">
				<a href="@Url.Action("AllClasses", "Classes")">Browse all classes with descriptions</a>
			</div>
			<div id="printable-schedules"> <!-- Bellevue specific and/or optional -->
				You can also <a href="http://bellevuecollege.edu/about/publications/schedule/">Download PDF versions of the credit class schedule</a>.
			</div>

		</div>

		<div id="other-classes">
			<h2>Other classes and workshops:</h2>
			<h3><a href="http://www.campusce.net/BC/Search/Search.aspx">Continuing Education <span class="low-emphasis">(non-credit)</span></a></h3>
			<p>Continuing Education offeres a wide variety variety of non-credit classes. <a href="http://www.campusce.net/BC/Search/Search.aspx" title="Continuing Education Classes" class="morelink">View classes</a>.</p>

			<h3><a href="http://bellevuecollege.edu/careers/sac_classes.html">Center for Career Connections</a></h3>
			<p>The Center for Career Connections offeres various classes, free workshops and orientations to students, alumni and the community to help your career. <a href="http://bellevuecollege.edu/careers/sac_classes.html" title="Career Center classes and workshops" class="morelink">View classes and workshops</a>.</p>


		</div>


	</div>	<!-- end of #top -->




	<div id="middle">
		<div id="middleleft">

			<div class="main_view">
				<div class="window">
						<div class="image_reel">
								<a href="http://www.psu.com/Soul-Calibur-IV-Hands-on--a003147-p0.php"><img src="@Url.Content("~/Content/images/coin-slider/sc1.jpg")" width="600" alt="" /></a>
								<a href="http://www.psu.com/Soul-Calibur-IV-Hands-on--a003147-p0.php"><img src="@Url.Content("~/Content/images/coin-slider/sc2.jpg")" width="600" alt="" /></a>
								<a href="http://www.psu.com/Soul-Calibur-IV-Hands-on--a003147-p0.php"><img src="@Url.Content("~/Content/images/coin-slider/sc3.jpg")" width="600" alt="" /></a>
						</div>
				</div>
				<div class="paging">
						<a href="#" rel="1">1</a>
						<a href="#" rel="2">2</a>
						<a href="#" rel="3">3</a>
				</div>
		</div>



			<div id="middleleft_floatright"> <!-- TODO: add email address configurable from web.config -->
				<a class="advertise" href="mailto:webservices@bellevuecollege.edu">How to advertise in this site</a>
			</div>
		</div>


		<div id="middleright">
			<h5>UPCOMING DEADLINES</h5>
			<ul>
				<li>Registration begins XXX</li>
				<li>asdfasdfds asdfds</li>
				<li>aaw45 afs3wra</li>
				<li>asdfaw aa343</li>
				<li>asdfa3w fdsf</li>

			</ul>
		</div>


	</div> <!-- end of #middle -->




</div>