@using CTCClassSchedule.Common
@using Ctc.Ods.Types
@using CTCClassSchedule.Models
<!-- TODO: Make the title configurable in web.config. Possible? -->
@{
    ViewBag.PageTitle = "Classes at Bellevue College";

		YearQuarter currentQuarter = ViewBag.CurrentYearQuarter;
}

<div id="page-wrapper" class="homepage">
@Html.Partial("quarterNavigation", new QuarterNavigationModel { NavigationQuarters = ViewBag.QuarterNavMenu, CurrentQuarter = currentQuarter })

<div id="content" class="home">
	<div id="home-main-content">

		<div id="browse-credit">
			<h2>Browse Credit Classes:</h2>

			<div id="browse-quarter">
				<p class="choose-quarter">Choose a quarter:</p>
				<ul>
	@foreach (YearQuarter yrq in ViewBag.QuarterNavMenu)
 {
				<li>
					<a class="yrq" href="@Url.Action("YearQuarter", "Classes", new {YearQuarter = yrq.FriendlyName.Replace(" ", "")})">@yrq.FriendlyName</a>
		@{
		int yrqComparison = yrq.ID.CompareTo(currentQuarter.ID);
		}
		@if (yrqComparison >= 0)
		{
					<span class="clarify">
			@if (yrqComparison > 0) {
						@:(upcoming)
			} else {
						@:(current quarter)
			}
					</span>
		}
				</li>
 }
				</ul>
			</div>

			<div id="browse-divider">
				<img src="@Url.Content("~/Content/images/or_divider.gif")" />
			</div>
			<div id="browse-all-classes">
				<a href="@Url.Action("AllClasses", "Classes")">All class descriptions</a>
			</div>
			<div id="printable-schedules"> <!-- Bellevue specific and/or optional -->
				You can also <a href="http://bellevuecollege.edu/about/publications/schedule/">Download PDF versions of the credit class schedule</a>.
				@if (Helpers.isAdmin(Context) || Helpers.isEditor(Context)) {
					<br />@:Download course data for
					bool isFirst = true;
					foreach (YearQuarter yrq in ViewBag.RegistrationQuarters) {
						if (!isFirst) {
							@Html.Raw(", ")
						}	else {
							isFirst = false;
						}
						@Html.ActionLink(yrq.FriendlyName, "Export", "Classes", new { YearQuarterID = yrq.ID }, null)
					}
					@Html.Raw(".")
				}
			</div>

		</div>

		<div id="other-classes">
			<h2>Other classes and workshops:</h2>
			<h3><a href="http://www.campusce.net/BC/Search/Search.aspx">Continuing Education <span class="low-emphasis">(non-credit)</span></a></h3>
			<p>Continuing Education offeres a wide variety variety of non-credit classes. <a href="http://www.campusce.net/BC/Search/Search.aspx" title="Continuing Education Classes" class="morelink">View classes</a>.</p>

			<h3><a href="http://bellevuecollege.edu/careers/sac_classes.html">Center for Career Connections</a></h3>
			<p>The Center for Career Connections offeres various classes, free workshops and orientations to students, alumni and the community to help your career. <a href="http://bellevuecollege.edu/careers/sac_classes.html" title="Career Center classes and workshops" class="morelink">View classes and workshops</a>.</p>


		</div>


	</div>	<!-- end of #top -->


    </div> <!-- #content -->

</div> <!-- #page-wrapper -->