@model IEnumerable<Ctc.Ods.Types.Course>
<div id="scheduleMain">
	@Html.Partial("quarterNavigation")
	@Html.Partial("basicFacetedSearch")
	<div id="scheduleContent">
		<h2>@ViewBag.Subject classes for any quarter</h2>
		<a href="/" class="programWebsite">Program Website</a>
		@foreach (var item in Model)
	{

			<div class="classInfo">
				<div class="classNumber">
					<!--a href="/Classes/All/@item.Subject/@item.Number">@item.Subject @item.Number</a-->
					@Html.ActionLink(item.Subject + " " + item.Number + " - " + item.Title, "All/" + item.Subject + "/" + item.Number)
				</div>

				<div class="classCredits">
					@item.Credits
				</div>
					@if (@item.Descriptions != null && @item.Descriptions.Count() > 0)
		 {
				<div class="classDescription">
				@item.Descriptions.First().Description
				</div>

			 <div class="classDetailsLink">
				@Html.ActionLink("View Details for " + item.Subject + " " + item.Number, "All/" + item.Subject + "/" + item.Number)
				</div>


		 }
		 else
		 {
				<div class="classDescription">
				** DESCRIPTION NOT FOUND **
				</div>
		 }
			</div>

	}
		@if (ViewBag.ItemCount == 0)
	{
			<text>
			<h3>
				No classes found.</h3>
			</text>
	}
	</div>
</div>
