@using CTCClassSchedule.Common
@model IEnumerable<Ctc.Ods.Types.Course>
@{
    ViewBag.PageTitle = ViewBag.Subject + "-" + @ViewBag.ProgramTitle + " Classes at Bellevue College";
}


<div id="scheduleMain">
    @Html.Partial("quarterNavigation")
    <div id="container" class="sidebar">
        <p id="sectionTitle"><a href="@Url.Action("AllClasses", "Classes")">All Credit Classes</a></p>
        <div id="sidebar">
            @Html.Partial("basicFacetedSearch")
        </div> <!-- #sidebar -->

        <div id="content">
	    @if (ViewBag.ItemCount == 0)
     {
         string subject = ViewContext.RouteData.Values["Subject"].ToString();
				<h1>No @subject classes were found</h1>
				<p><strong>TIP:</strong> Try changing the <strong>Subject</strong> to the left.</p>
     }
     else
     {

         if (!string.IsNullOrWhiteSpace(ViewBag.ProgramTitle))
         {


                    <h1 id="pageTitle">@ViewBag.ProgramTitle</h1>
         }

         if (!string.IsNullOrWhiteSpace(ViewBag.SubjectIntro))
         {
                     <p class="subjectdesc">@ViewBag.SubjectIntro</p>
         }
         if (!string.IsNullOrWhiteSpace(ViewBag.ProgramUrl))
         {
		            <p id="programLink">
					<strong>Need more info?</strong> <a href="@ViewBag.ProgramUrl" class="programWebsite">Visit the
                        @if (!string.IsNullOrWhiteSpace(ViewBag.AcademicProgram))
                        {
                            @ViewBag.AcademicProgram
                        }
                        else if (!string.IsNullOrWhiteSpace(ViewBag.ProgramTitle))
                        {
                            @ViewBag.ProgramTitle
                        }
                        else
                        {
                            <text>Program</text>
                        }
                    website</a>
				</p>
         }



		    <div id="classDescriptions">
		    @foreach (var item in Model.OrderBy(c => c.Number))
      {
          string courseID = string.Format("{0}{1} {2}", item.Subject, item.IsCommonCourse ? "&" : string.Empty, item.Number);

			    <div class="classInfo">
                    <h2 class="classHeading">
							<a href="@Url.Action("ClassDetails", "Classes", new { YearQuarterID = "All", Subject = item.Subject, ClassNum = item.Number })">

							<span class="classNumber">
								@Html.Raw(string.Format("{0} {1}", courseID, item.Title))
							</span>

							&#8226;

						@if (item.IsVariableCredits)
      {
				    <span class="classCredits">
					    V1-@Html.CreditsValue(item.Credits)
				        <abbr title=" variable credit(s) ">Cr.</abbr>
            </span>
      }
      else
      {
				    <span class="classCredits">
					    @Html.CreditsValue(item.Credits)
				        <abbr title=" credit(s) ">Cr.</abbr>
            </span>
      }
					</a>
                    </h2>
				    @if (@item.Descriptions != null && @item.Descriptions.Count() > 0)
        {
				        <p class="classDescription">
				        @item.Descriptions.First().Description
				        </p>

        }
        else
        {
				        <p class="classDescription error">No class description found. Please report this via the feedback link at the top of this website</p>
        }

                    <p class="classDetailsLink">
				        @Html.ActionLink("View details for " + courseID,
                                                                "ClassDetails",
                                                                "Classes",
                                                                new { YearQuarterID = "All", Subject = item.Subject, ClassNum = item.Number },
                                                                null)
		            </p>

                </div>

      }
	    </div> <!-- #classInfoWrap -->
     }
        </div> <!-- #content -->






</div> <!-- #container -->
</div> <!-- schedulemain -->
