@model IEnumerable<Ctc.Ods.Types.Course>
<div id="scheduleMain">
	@Html.Partial("quarterNavigation")
	@Html.Partial("basicFacetedSearch")
	<div id="scheduleContent">
		<h2>@ViewBag.Subject classes for any quarter</h2>
		<a href="@ViewBag.ProgramUrl" class="programWebsite" target="_blank">Program Website</a>
		<div id="classInfoWrap">
		@foreach (var item in Model)
	{

			<div class="classInfo">
				<div class="classNumber">
					@Html.ActionLink(item.Subject + " " + item.Number + " - " + item.Title, "ClassDetails", "Classes", new { YearQuarterID = "All", Subject = item.Subject, ClassNum = item.Number }, null)
				</div>

				<div class="classCredits">
					@item.Credits
				</div>
					@if (@item.Descriptions != null && @item.Descriptions.Count() > 0)
		 {
				<div class="classDescription">
				@item.Descriptions.First().Description
				</div>

			 <div class="classDetailsLink">
				@Html.ActionLink("View Details for " + item.Subject + " " + item.Number, "ClassDetails", "Classes", new { YearQuarterID = "All", Subject = item.Subject, ClassNum = item.Number }, null)
				</div>


		 }
		 else
		 {
				<div class="classDescription">
				** DESCRIPTION NOT FOUND **
				</div>
		 }
			</div>

	}
	@if (ViewBag.ItemCount == 0)
 {
			<text>
			<h3>
				No classes found.</h3>
			</text>
	}
	</div>
	</div>
</div>
