@model IEnumerable<Ctc.Ods.Types.Course>


<div id="scheduleMain">


@Html.Partial("quarterNavigation")

@Html.Partial("advancedFacetedSearch")


<div id="scheduleContent">

	<h2>@ViewBag.Subject classes for any quarter</h2>
	<a href="/" class="programWebsite">Program Website</a>

	@foreach (var item in Model) {

	 <div class="classInfo">
		<div class="classNumber">

		 <a href="/Classes/All/@item.Subject/@item.Number">@item.Subject @item.Number</a>
		</div>
		<div class="classTitle">
		<a href="/Classes/All/@item.Subject/@item.Number">@item.Title</a>
		</div>

		<div class="classCredits">
		 @item.Credits
		</div>

		<div class="classDescription">
			This is a generic description until we can figure out where the real description is coming from. This is a generic description until we can figure out where the real description is coming from. This is a generic description until we can figure out where the real description is coming from. This is a generic description until we can figure out where the real description is coming from.
		</div>


	 </div>

}

</div>
</div>


