@using CTCClassSchedule.Common
@model IEnumerable<Ctc.Ods.Types.Course>
@{
    ViewBag.PageTitle = ViewBag.Subject + "-" + @ViewBag.ProgramTitle + " Classes at Bellevue College";
}


<div id="scheduleMain">
    @Html.Partial("quarterNavigation")
    <div id="container" class="sidebar">
        <div id="sidebar">
            @Html.Partial("basicFacetedSearch")
        </div> <!-- #sidebar -->

        <div id="content">
				<p class="subjectdesc">@ViewBag.SubjectIntro</p>

				@if (!string.IsNullOrWhiteSpace(ViewBag.ProgramTitle)) {

                    <p id="sectionTitle"><a href="@Url.Action("AllClasses", "Classes")">All Credit Classes</a></p>
                    <h1 id="pageTitle">@ViewBag.ProgramTitle</h1>
                }
                @if (!string.IsNullOrWhiteSpace(ViewBag.ProgramUrl))
                {
		            <p id="programWebsite">
			            <a href="@ViewBag.ProgramUrl" class="programWebsite">Program Website</a>
		            </p>
                }


		    <div id="classInfoWrap">
		    @foreach (var item in Model.OrderBy(c => c.Number))
      {
          string courseID = string.Format("{0}{1} {2}", item.Subject, item.IsCommonCourse ? "&" : string.Empty, item.Number);

			    <div class="classInfo">
                    <h2>
							<a href="@Url.Action("ClassDetails", "Classes", new { YearQuarterID = "All", Subject = item.Subject, ClassNum = item.Number })">

							<span class="classNumber">
								@Html.Raw(string.Format("{0} {1}", courseID, item.Title))
							</span>

							&#8226;

						@if (item.IsVariableCredits)
      {
				    <span class="classCredits">
					    V1-@Html.CreditsValue(item.Credits)
				        <abbr title=" variable credit(s) ">Cr.</abbr>
            </span>
      }
      else
      {
				    <span class="classCredits">
					    @Html.CreditsValue(item.Credits)
				        <abbr title=" credit(s) ">Cr.</abbr>
            </span>
      }
					</a>
                    </h2>
				    @if (@item.Descriptions != null && @item.Descriptions.Count() > 0)
        {
				        <p class="classDescription">
				        @item.Descriptions.First().Description

								@if (item.Descriptions.First().Description.IndexOf("prerequisite", StringComparison.OrdinalIgnoreCase) >= 0)
        {
									<a class="footnote-prereq" href="http://bellevuecollege.edu/enrollment/transfer/prerequisites/">How to clear prerequisites?</a>
        }

				        </p>

        }
        else
        {
				        <p class="classDescription error">No class description found. Please report this via the feedback link at the top of this website</p>
        }

                    <p class="classDetailsLink">
				        @Html.ActionLink("View Details for " + courseID,
                                                                "ClassDetails",
                                                                "Classes",
                                                                new { YearQuarterID = "All", Subject = item.Subject, ClassNum = item.Number },
                                                                null)
		            </p>

                </div>

      }
	    @if (ViewBag.ItemCount == 0)
     {
			    <text>
			    <p class="error">No classes found.</p>
			    </text>
		 }
	    </div>
        </div> <!-- #content -->






</div> <!-- #container -->
</div> <!-- schedulemain -->
