@using CTCClassSchedule
@using CTCClassSchedule.Common
@using CTCClassSchedule.Controllers
@using MvcMiniProfiler;
@using Ctc.Ods.Types
@model IList<CTCClassSchedule.SectionWithSeats>
@{
	MiniProfiler _profiler = MiniProfiler.Current;

	IDictionary<string, object> _routeValues = ViewBag.RouteValues;
	_routeValues["YearQuarterID"] = "All";
	_routeValues["Subject"] = Model.Count > 0 ? Model.First().CourseSubject.Trim() : null;
	RouteValueDictionary route = new RouteValueDictionary(_routeValues);


	string courseID = string.Empty;
	string sectionID = string.Empty;
	string PreviousCourseID = string.Empty;
	string PreviousSectionID = string.Empty;
	string FriendlyYRQ = string.Empty;

foreach (YearQuarter yrq in ViewBag.QuarterNavMenu)
 {
	 if (ViewBag.YearQuarter != null && ViewBag.YearQuarter == yrq) {
		 FriendlyYRQ = yrq.FriendlyName;
	 }

 }

ViewBag.PageTitle = FriendlyYRQ + " " + ViewBag.ProgramTitle + " Credit Class Schedule at Bellevue College";

}
<script type="text/javascript" src="@Url.Content("~/Scripts/CtcClassSchedule.js")"></script>

<div id="scheduleMain">
    @{
			Html.RenderPartial("quarterNavigation");
    }
	<div id="container" class="sidebar">
        <div id="sidebar">
            @{
							Html.RenderPartial("advancedFacetedSearch");
							Html.RenderPartial("basicFacetedSearch");
            }
        </div> <!-- #sidebar -->

        <div id="content">

		@if (Model.Count == 0)
	{
			<h1>No classes found.</h1>
	}
	else
	{
		<h1 id="pageTitle">
				@ViewBag.ProgramTitle
							<span class="subjectchooser">@Html.Partial("subjectNavigation")</span>
		</h1>

															 if (!string.IsNullOrWhiteSpace(ViewBag.ProgramUrl))
															 {
		<p id="programWebsite">
			<a href="@ViewBag.ProgramUrl" class="programWebsite">Program Website</a>
		</p>
															 }

															 using (_profiler.Step("Rendering Sections by Course (outer loop)"))
															 {
																 foreach (SectionWithSeats sec in Model)
																 {
																	 courseID = sec.CourseID;
																	 sectionID = sec.ID.ToString();

																	 if (courseID != PreviousCourseID)
																	 {
																		 if (PreviousCourseID != "")
																		 {
						@:</ul>
					}


																		 route["ClassNum"] = sec.CourseNumber;

				<text>
		<h2 class="classHeading">
			<a href="@Url.Action("ClassDetails", "Classes", route)">
				@Html.Raw(string.Format("{0}{1} {2} {3} &#8226; {4} Cr.", sec.CourseSubject, sec.IsCommonCourse ? "&" : string.Empty, sec.CourseNumber, sec.CourseTitle, Html.CreditsValue(sec.Credits)))
			</a>
		</h2>
		<div class="CourseFootnotes">
			@sec.CourseFootnotes
		</div>
		<p class="classDetails">
			@Html.ActionLink("View Class Details", "ClassDetails", "Classes", route, null)
		</p>
		<ul class='course-block'>
		</text>
																	 }

																	 if (PreviousSectionID != sectionID)
																	 {
																		 Html.RenderPartial("Sections", sec, new ViewDataDictionary { { "PreviousSectionID", PreviousSectionID } });
																	 }


																	 PreviousSectionID = sectionID;
																	 PreviousCourseID = courseID;
																 }
															 }
	}
	</div>  <!-- content -->
    </div>  <!-- container -->
</div> <!-- #scheduleMain -->
