@model IEnumerable<CTCClassSchedule.SectionWithSeats>

<script type="text/javascript">

	$(document).ready(function () {

		$('.course-updated a').click(function () {

			var courseIdPlusYRQ = this.id;
			var availability = '.availability-' + courseIdPlusYRQ + ' .seatsAvailable';
			var courseUpdated = '.availability-' + courseIdPlusYRQ + ' .course-updated em';
			var originalSeatsAvailable = $(availability).html();


			//load the throbber
			$(availability).html('<img src="/Content/images/ajax-loader.gif" title="loading_seats_available" alt="loading_seats_available" />');

			//post the ajax call to get the available seats and update the UI
			$.ajax({
				url: '/Classes/getseats',
				type: 'POST',
				data: { courseIdPlusYRQ: courseIdPlusYRQ },
				timeout: 4000,
				success: function (result) {
					var indexOfPipe = result.indexOf("|");
					var seatsAvailable = result.substring(0, indexOfPipe);
					var friendlyTime = "updated " + result.substring(indexOfPipe + 1, result.length);

					$(availability).html(seatsAvailable);
					$(courseUpdated).html(friendlyTime);
				},
				error: function (x, t, m) {
					//alert("got timeout");
					$(availability).html(originalSeatsAvailable);
					$(courseUpdated).html("server busy, try again");
				}

			});
		});
	});

</script>



<div id="scheduleMain">

	@Html.Partial("quarterNavigation")
	@Html.Partial("advancedFacetedSearch")

	<div id="scheduleContent">
		@foreach (var item in Model)
	{
		int count = 0;
		if (@ViewBag.displayedCourseNum < Convert.ToInt16(item.CourseNumber))
		{
			if (count == 0)
			{
				@Html.Raw("</ul>")
				count++;
			}
			<h2 class="classHeading"><a href="/Classes/All/@item.CourseSubject/@item.CourseNumber">@Html.DisplayFor(modelItem => item.CourseSubject)  @Html.DisplayFor(modelItem => item.CourseNumber)
			@Html.DisplayFor(modelItem => item.CourseTitle)  @Html.DisplayFor(modelItem => item.Credits) </a></h2>
			<p class="classDetails"><a href="/Classes/All/@item.CourseSubject/@item.CourseNumber">View Class Details</a></p>

			@Html.Raw("<ul class='course-block'>");
		}




			<li class="section-listing"><span class="item-number"><span class="descriptor">Item number: </span>@((item.ID).ToString().Substring(0, 4))</span>
					<ul class="section-details">
						<li class="section"><span class="descriptor">Section: </span>@item.SectionCode</li>


			<!--start of repeat offered information -->
				@foreach (Ctc.Ods.Types.OfferedItem offering in item.Offered)
		{


						<li class="instructor"><span class="descriptor">Instructor:</span>
								<ul>
										<li>@offering.InstructorName
										</li>
								</ul>
						</li>
						<li><span class="descriptor">Meets: </span>
								<ul class="meets">
										<li>
												<span class="days"><abbr title="Mondays and Wednesdays">@offering.Days</abbr></span>
												<span class="times"><span class="descriptor">at </span>@String.Format("{0:t}", offering.StartTime)-@String.Format("{0:t}", offering.EndTime) </span>
												<span class="room"><span class="descriptor">in </span>@offering.Room</span>
										</li>
								</ul>
					</li>

					<li class="availability-@(item.ID.ToString())">
						<span class="descriptor">Seat Availability: </span>
							@if (@item.WaitlistCount > 0)
			 {
								<strong class="seatsAvailable">class full, @item.WaitlistCount on waitlist</strong>
								<span class="course-updated"></span>
			 }
			 else
			 {
								<strong class="seatsAvailable">@item.SeatsAvailable</strong>
								<span class="course-updated"><em>updated @item.LastUpdated</em> <a id="@(item.ID.ToString())">[update]</a></span>
			 }
					</li>


					<li class="section-notes"><span class="descriptor">Notes: </span>
							<ul>
									<li><span class="label">@item.AdditionalInformation</span></li>
							</ul>
					</li>
		}
				<!--end of repeat offered information -->


				</ul>

				</li>




		if (@ViewBag.displayedCourseNum < Convert.ToInt16(item.CourseNumber))
		{
			ViewBag.displayedCourseNum = Convert.ToInt16(item.CourseNumber);
		}

	}

		@if (ViewBag.ItemCount == 0) {
				<text>
					<h3>No classes found.</h3>
				</text>
			}

	</div>
</div>
