@using MvcMiniProfiler;
@using CTCClassSchedule.Common;
@model IEnumerable<CTCClassSchedule.SectionWithSeats>
@{
	MiniProfiler _profiler = MiniProfiler.Current;
	String YearQuarter = ViewBag.YearQuarter;
	String subdir = ViewBag.currentAppSubdirectory;
	IDictionary<string, object> _routeValues = ViewBag.RouteValues;
	string credits = "";

	string PreviousCourseID = string.Empty;
	string PreviousSectionID = string.Empty;
}
<div id="scheduleMain">
	@Html.Partial("quarterNavigation")
	@Html.Partial("advancedFacetedSearch")
    @Html.Partial("basicFacetedSearch")
	<div id="scheduleContent">
		@if (Model.Count() == 0)
	{
			<h3>No classes found.</h3>
	}
	else
	{
		<h1 class="program-title">
				@ViewBag.ProgramTitle
							<span class="subjectchooser">@Html.Partial("subjectNavigation")</span>
		</h1>

		<p id="programWebsite">
			<a href="@ViewBag.ProgramUrl" class="programWebsite">Program Website</a>
		</p>

		@Html.Partial("Sections", Model)
	}
	</div>
</div>
