@model IEnumerable<Ctc.Ods.Types.Course>

@ViewBag.Subject classes for @ViewBag.Yearquarter



<div id="scheduleMain">


@Html.Partial("quarterNavigation")

@Html.Partial("advancedFacetedSearch")


<div id="scheduleContent">


@foreach (var item in Model) {

  @Html.DisplayFor(modelItem => item.Subject)  @Html.DisplayFor(modelItem => item.Number)   @Html.DisplayFor(modelItem => item.Title)  @Html.DisplayFor(modelItem => item.Credits)
   <text><br /></text>


}

</div>
</div>
