@using Ctc.Ods.Types
@using CTCClassSchedule.Common
@model IEnumerable<CTCClassSchedule.Models.Subject>
@{
	YearQuarter yrq = ViewBag.YearQuarter;

	// TODO: provide a default alphabet if the ViewBag is empty
	IEnumerable<char> alphabet = ViewBag.Alphabet;

	ViewBag.PageTitle = yrq.FriendlyName + " Credit Class Schedule at Bellevue College";
}
<div id="scheduleMain">
    @Html.Partial("quarterNavigation")
    <div id="container" class="sidebar">
        <div id="sidebar">
            @Html.Partial("advancedFacetedSearch")
        </div> <!-- #sidebar -->

        <div id="content">

		@if (ViewBag.ErrorMsg.Length > 0) {
			@Html.Partial("ErrorMsg")
		}

		<h1 id="pageTitle">@yrq.FriendlyName Credit Classes</h1>

		@Html.Partial("a_to_z", alphabet)


		@if (Helpers.isAdmin(Context))
	{
				<div class="message">@Context.User.Identity.Name! You have admin access to this section.</div>
		}

			@if (ViewBag.ItemCount == 0)
	 {
		 string letter = Request.QueryString["letter"];
				<div id="error-noclassesfound">
                <h2>No classes @(!string.IsNullOrWhiteSpace(letter) ? string.Format("beginning with the letter '{0}'", letter) : string.Empty) were found for @yrq.FriendlyName</h2>
				<p><em>TIP:</em> Information for @yrq.FriendlyName may not be available yet.</p>
                </div>
	 }
	 else
	 {
		 Html.RenderPartial("subjectList", Model);
	 }

	 <script type="text/javascript">
	/* program editor pop-up dialog */
	$(document).ready(function () {

		$("#edit-program").dialog({
			closeOnEscape: false,
			autoOpen: false,
			height: 455,
			width: 950

		});


	});
</script>

<script type="text/javascript">
 /* make the cancel button close the window and reload the page */
	$(document).ready(function () {

		$("span.ui-icon-closethick").click(function () {
			showThrobber();
			window.location.href = $(location).attr('href');
		});

		$(".ui-dialog").keydown(function(e) {
			if (e.keyCode == 27) { // esc
				$(".ui-dialog").hide();
				showThrobber();
				window.location.href = $(location).attr('href');
			}
		});






		@if(Helpers.isAdmin(Context))  {

			<text>$('li.subject-name').hover(function () {
				$(this).children('a.edit_button').show();
				$(this).addClass('edit-hover subject-name-edit');
				},
				function () {
					$(this).children('a.edit_button').hide();
					$(this).removeClass('edit-hover subject-name-edit');
			});
			</text>
		}

	});
</script>

	<div title="Edit Subject Information" id="edit-program"></div>




        </div> <!-- #content -->
    </div> <!-- #container -->
</div>
