@using CTCClassSchedule
@using CTCClassSchedule.Common
@using CTCClassSchedule.Controllers
@using MvcMiniProfiler;
@model IList<CTCClassSchedule.SectionWithSeats>
@{
	MiniProfiler _profiler = MiniProfiler.Current;

	IDictionary<string, object> _routeValues = ViewBag.RouteValues;
	_routeValues["YearQuarterID"] = "All";
	_routeValues["Subject"] = Model.First().CourseSubject;
	RouteValueDictionary route = new RouteValueDictionary(_routeValues);

	string courseID = string.Empty;
	string sectionID = string.Empty;
	string PreviousCourseID = string.Empty;
	string PreviousSectionID = string.Empty;

}
<script type="text/javascript" src="@Url.Content("~/Scripts/CtcClassSchedule.js")"></script>

<div id="scheduleMain">
@{
	Html.RenderPartial("quarterNavigation");
	Html.RenderPartial("advancedFacetedSearch");
	Html.RenderPartial("basicFacetedSearch");
}
	<div id="scheduleContent">
		@if (Model.Count == 0)
	{
			<h3>No classes found.</h3>
	}
	else
	{
		<h1 class="program-title">
				@ViewBag.ProgramTitle
							<span class="subjectchooser">@Html.Partial("subjectNavigation")</span>
		</h1>

		if (!string.IsNullOrWhiteSpace(ViewBag.ProgramUrl))
		{
		<p id="programWebsite">
			<a href="@ViewBag.ProgramUrl" class="programWebsite">Program Website</a>
		</p>
		}

		using (_profiler.Step("Rendering Sections by Course (outer loop)"))
		{
			foreach (SectionWithSeats sec in Model)
			{
				courseID = sec.CourseID;
				sectionID = sec.ID.ToString();

				if (courseID != PreviousCourseID)
				{
				route["ClassNum"] = sec.CourseNumber;

				<text>
		<h2 class="classHeading">
			@Html.ActionLink(string.Format("{0}{1} {2} {3} • {4} Cr.", sec.CourseSubject, sec.IsCommonCourse ? "&" : string.Empty, sec.CourseNumber, sec.CourseTitle, Html.CreditsValue(sec.Credits)),
											"ClassDetails",
											"Classes",
											route,
											null)
		</h2>
		<p class="classDetails">
			@Html.ActionLink("View Class Details", "ClassDetails", "Classes", route, null)
		</p>
		<ul class='course-block'>
		</text>
		}

		if (PreviousSectionID != sectionID)
		{
			Html.RenderPartial("Sections", sec, new ViewDataDictionary { { "PreviousSectionID", PreviousSectionID } });
		}

				if (courseID != PreviousCourseID)
				{
		@:</ul>
		}
			PreviousSectionID = sectionID;
			PreviousCourseID = courseID;
			}
		}
}
	</div>
</div>
