@model IEnumerable<CTCClassSchedule.SectionWithSeats>
<div id="scheduleMain">
	@Html.Partial("quarterNavigation")
	@Html.Partial("advancedFacetedSearch")
    @Html.Partial("basicFacetedSearch")
	<div id="scheduleContent">
		@if (Model.Count() == 0)
	{
			<h3>No classes found.</h3>
	}
	else
	{
		<h1 class="program-title">
				@ViewBag.ProgramTitle
							<span class="subjectchooser">@Html.Partial("subjectNavigation")</span>
		</h1>

		<p id="programWebsite">
			<a href="@ViewBag.ProgramUrl" class="programWebsite">Program Website</a>
		</p>

		@Html.Partial("Sections", Model)
	}
	</div>
</div>
