@model IEnumerable<Ctc.Ods.Types.Section>

<div id="scheduleMain">

	@Html.Partial("quarterNavigation")
	@Html.Partial("advancedFacetedSearch")

	<div id="scheduleContent">
		@foreach (var item in Model)
		{

			if (@ViewBag.displayedCourseNum < Convert.ToInt16(item.CourseNumber))
			{

					<h2 class="classHeading"><a href="/Classes/All/@item.CourseSubject/@item.CourseNumber">@Html.DisplayFor(modelItem => item.CourseSubject)  @Html.DisplayFor(modelItem => item.CourseNumber)
					@Html.DisplayFor(modelItem => item.CourseTitle)  @Html.DisplayFor(modelItem => item.Credits) </a></h2>
					<p class="classDetails"><a href="/Classes/All/@item.CourseSubject/@item.CourseNumber">View Class Details</a></p>


			}


			<ul class="course-block">

			<li class="section-listing"><span class="item-number"><span class="descriptor">Item number: </span>@((item.ID).ToString().Substring(0, 4))</span>
					<ul class="section-details">
						<li class="section"><span class="descriptor">Section: </span>@item.SectionCode</li>


			<!--start of repeat offered information -->
				@foreach (Ctc.Ods.Types.OfferedItem offering in item.Offered)
				{


						<li class="instructor"><span class="descriptor">Instructor:</span>
								<ul>
										<li>@offering.InstructorName
										</li>
								</ul>
						</li>
						<li><span class="descriptor">Meets: </span>
								<ul class="meets">
										<li>
												<span class="days"><abbr title="Mondays and Wednesdays">@offering.Days</abbr></span>
												<span class="times"><span class="descriptor">at </span>@String.Format("{0:t}", offering.StartTime)-@String.Format("{0:t}", offering.EndTime) </span>
												<span class="room"><span class="descriptor">in </span>@offering.Room</span>
										</li>
								</ul>
					</li>

						<li class="availability"><span class="descriptor">Seat Availability: </span><strong>Class full</strong> <span class="course-updated">updated 5 seconds ago <a href="">[update]</a></span>
						</li>

						<li class="section-notes"><span class="descriptor">Notes: </span>
								<ul>
										<li><span class="label">@item.AdditionalInformation</span></li>
								</ul>
						</li>
							}
				<!--end of repeat offered information -->


				</ul>

				</li>


			</ul>


			if (@ViewBag.displayedCourseNum < Convert.ToInt16(item.CourseNumber))
			{
				ViewBag.displayedCourseNum = Convert.ToInt16(item.CourseNumber);
			}

		}

	</div>
</div>
