@using Ctc.Ods.Types
@using CTCClassSchedule.Common
@model IEnumerable<ScheduleCoursePrefix>
@{
	YearQuarter yrq = ViewBag.YearQuarter;

	// TODO: provide a default alphabet if the ViewBag is empty
	IEnumerable<char> alphabet = ViewBag.Alphabet;

	ViewBag.PageTitle = yrq.FriendlyName + " Credit Class Schedule at Bellevue College";
}
<div id="scheduleMain">
    @Html.Partial("quarterNavigation")
    <div id="container" class="sidebar">
        <div id="sidebar">
            @Html.Partial("advancedFacetedSearch")
        </div> <!-- #sidebar -->

        <div id="content">

		@if (ViewBag.ErrorMsg.Length > 0) {
			@Html.Partial("ErrorMsg")
		}

		<h1 id="pageTitle">@yrq.FriendlyName Credit Classes</h1>

		@Html.Partial("a_to_z", alphabet)


		@if(Ctc.Web.Security.ActiveDirectoryRoleProvider.IsUserInRoles(Context.User, "Developers") == true) {
				<div class="message">@Context.User.Identity.Name! You have admin access to this section.</div>
		}

			@if (ViewBag.ItemCount == 0)
	 {
		 string letter = Request.QueryString["letter"];
				<h2>No classes @(!string.IsNullOrWhiteSpace(letter) ? string.Format("beginning with the letter '{0}'", letter) : string.Empty) were found for @yrq.FriendlyName</h2>
				<p><em>TIP:</em> Information for @yrq.FriendlyName may not be available yet.</p>
	 }
	 else
	 {
		 Html.RenderPartial("subjectList", Model);
	 }

	 <script type="text/javascript">
	/* program editor pop-up dialog */
	$(document).ready(function () {

		$("#edit-program").dialog({
			autoOpen: false,
			height: 455,
			width: 900,

		});


	});
</script>

<script type="text/javascript">
 /* make the cancel button close the window and reload the page */
	$(document).ready(function () {



		/*
		$(".cancelEdit").click(function (e) {
		e.preventDefault();
		window.location.href = $(location).attr('href');
		});
		*/

		$("span.ui-icon-closethick").click(function () {
			window.location.href = $(location).attr('href');
		});

		@if(Ctc.Web.Security.ActiveDirectoryRoleProvider.IsUserInRoles(Context.User, "Developers") == true) {

			<text>$('li.title').hover(function () {
				$(this).children('a.edit_button').show();
				$(this).addClass('yellow-dashed');
				},
				function () {
					$(this).children('a.edit_button').hide();
					$(this).removeClass('yellow-dashed');
			});
			</text>
		}

	});
</script>

	<div title="Edit Subject Information" id="edit-program"></div>




        </div> <!-- #content -->
    </div> <!-- #container -->
</div>
