@model IEnumerable<CTCClassSchedule.SectionWithSeats>
@{
	String YearQuarter = ViewBag.YearQuarter;
	String subdir = ViewBag.currentAppSubdirectory;
	String CourseTitle = "";
	ViewBag.PageTitle = @ViewBag.YearQuarter + " " + ViewBag.Subject + " Credit Classes";
}
<script type="text/javascript">

	$(document).ready(function () {

		$('.course-updated a').click(function () {

			var courseIdPlusYRQ = this.id;
			var availability = '.availability-' + courseIdPlusYRQ + ' .seatsAvailable';
			var courseUpdated = '.availability-' + courseIdPlusYRQ + ' .course-updated em';
			var originalSeatsAvailable = $(availability).html();


			//load the throbber
			$(availability).html('<img src="@(subdir)/Content/images/ajax-loader.gif" title="loading_seats_available" alt="loading_seats_available" />');

			//post the ajax call to get the available seats and update the UI
			$.ajax({
				url: '@(subdir)/Classes/getseats',
				type: 'POST',
				data: { courseIdPlusYRQ: courseIdPlusYRQ },
				timeout: 4000,
				success: function (result) {
					var indexOfPipe = result.indexOf("|");
					var seatsAvailable = result.substring(0, indexOfPipe);
					var friendlyTime = "updated " + result.substring(indexOfPipe + 1, result.length);

					$(availability).html(seatsAvailable);
					$(courseUpdated).html(friendlyTime);
				},
				error: function (x, t, m) {
					//alert("got timeout");
					$(availability).html(originalSeatsAvailable);
					$(courseUpdated).html("server busy, try again");
				}

			});
		});
	});

</script>
<div id="scheduleMain">
	@Html.Partial("quarterNavigation")
	@Html.Partial("advancedFacetedSearch")
	<div id="scheduleContent">
	<h3 class="course-title">
		<span class="courseID">
			@ViewBag.ProgramTitle
		</span>
	</h3>
		<div id="programWebsite">
			<a href="@ViewBag.ProgramUrl" class="programWebsite" target="_blank">Program Website</a>
		</div>

		@foreach (var course in Model.Select(c => new { c.CourseID, c.CourseSubject, c.CourseNumber, c.CourseTitle, c.Credits }).Distinct())
	{
		<h2 class="classHeading">
			@Html.ActionLink(string.Format("{0} {1} {2} CR", course.CourseSubject, course.CourseNumber, course.CourseTitle, course.Credits),
											"ClassDetails",
											"Classes",
											new {
												YearQuarterID = YearQuarter,
												Subject = course.CourseSubject,
												ClassNum = course.CourseNumber
											}, null)
		</h2>
		<p class="classDetails">
			@Html.ActionLink("View Class Details", "ClassDetails", "Classes",
											new {
												YearQuarterID = YearQuarter,
												Subject = course.CourseSubject,
												ClassNum = course.CourseNumber
											}, null)
		</p>

		<ul class='course-block'>
				@foreach (var sec in Model.Where(s => s.CourseID == course.CourseID).Select(s => s))
		{
			<li class="section-listing">
			<span class="item-number"><span class="descriptor">Item number: </span>@(sec.ID.ItemNumber)</span>
			<ul class="section-details">
			@{
			int rowCount = 0;
		}
			@foreach (var item in sec.Offered)
	 {
		 rowCount++;

				<li class="section">@Html.Raw(rowCount <= 1 ? sec.SectionCode : "&nbsp;")</li>
				<li class="instructor">
					<span class="descriptor">Instructor:</span>
					<ul>
						<li>
						@if (string.IsNullOrWhiteSpace(item.InstructorEmail)) {
							@Html.Raw(string.IsNullOrWhiteSpace(item.InstructorName) ? "&nbsp;" : item.InstructorName)
						} else {
							<a href="mailto:@item.InstructorEmail">@item.InstructorName</a>
						}
						</li>
					</ul>
				</li>
				<li>
					<span class="descriptor">Meets: </span>
					<ul>
						<li>
							<span class="days">
								<abbr title="** TITLE GOES HERE **">
								@if (sec.IsOnline) {
									<text>Online</text>
					} else {
						@item.Days
				}
								</abbr>
							</span>
							<span class="times">
								<span class="descriptor">at </span>
								@String.Format("{0:t}", item.StartTime)-@String.Format("{0:t}", item.EndTime)
							</span>
							<span class="room">
								<span class="descriptor">in </span>
								@item.Room
							</span>
						</li>
					</ul>
				</li>

		 if (rowCount <= 1)
	 {
				<li class="availability-@(sec.ID.ToString())">
					<span class="descriptor">Seat Availability: </span>
				@if (@sec.WaitlistCount > 0)
		{
					<strong class="seatsAvailable">class full, @sec.WaitlistCount on waitlist</strong>
					<span class="course-updated"></span>
		}
		else
		{
					<strong class="seatsAvailable">@sec.SeatsAvailable</strong>
					<span class="course-updated"><em>updated @sec.LastUpdated</em> <a id="@(sec.ID.ToString())">[update]</a></span>
		}
				</li>
	 }
	 else
	 {
		 <li>&nbsp;</li>
	 }
	 } @* end foreach(item) *@
				<li class="section-notes">
					<span class="descriptor">Notes: </span>
					@if (@sec.Footnotes != null && @sec.Footnotes.Count() > 0)
			 {
					<ul>
					@foreach (string note in @sec.Footnotes)
				 {
						<li><span class="label">@note</span></li>
				 }
					</ul>
			 }
				</li>
			</ul>
			</li>
		} @* end foreach(sec) *@
		</ul>
	} @* end foreach(course) *@

		@if (ViewBag.ItemCount == 0)
	{
			<text>
			<h3>
				No classes found.</h3>
			</text>
	}
	</div>
</div>
