@using Ctc.Ods.Types
@model IEnumerable<ICoursePrefix>
@{
	YearQuarter yrq = ViewBag.YearQuarter;

	// TODO: provide a default alphabet if the ViewBag is empty
	IEnumerable<char> alphabet = ViewBag.Alphabet;

	ViewBag.PageTitle = yrq.FriendlyName + " Credit Class Schedule at Bellevue College";
}
<div id="scheduleMain">
    @Html.Partial("quarterNavigation")
    <div id="container" class="sidebar">
        <div id="sidebar">
            @Html.Partial("advancedFacetedSearch")
        </div> <!-- #sidebar -->

        <div id="content">

		@if (ViewBag.ErrorMsg.Length > 0) {
			@Html.Partial("ErrorMsg")
		}

		<h1 id="pageTitle">@yrq.FriendlyName Credit Classes</h1>

		@Html.Partial("a_to_z", alphabet)

			@if (ViewBag.ItemCount == 0)
	 {
					<h3>No classes found.</h3>
	 }
	 else
	 {
		 Html.RenderPartial("subjectList", Model);
	 }

	 <script type="text/javascript">
	/* program editor pop-up dialog */
	$(document).ready(function () {

		$("#edit-program").dialog({
			autoOpen: false,
			height: 455,
			width: 900,
		});
	});
</script>

<script type="text/javascript">
 /* make the cancel button close the window and reload the page */
	$(document).ready(function () {



		/*
		$(".cancelEdit").click(function (e) {
			e.preventDefault();
			window.location.href = $(location).attr('href');
		});
		*/

		$("span.ui-icon-closethick").click(function () {
			window.location.href = $(location).attr('href');
		});

	});
</script>

	<div title="Edit Program" id="edit-program"></div>

        </div> <!-- #content -->
    </div> <!-- #container -->
</div>
