@using Ctc.Ods.Types
@using CTCClassSchedule
@using CTCClassSchedule.Common
@using Microsoft.Security.Application
@model IEnumerable<SectionWithSeats>

<script src="@Url.Content("~/Content/js/jquery-1.6.4.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.8.17.custom.min.js")"></script>

<script type="text/javascript">

	$(document).ready(function () {

		$("#accordion").accordion();

		$("#cancelEdit").click(function (e) {
			e.preventDefault();
			$(".ui-dialog").hide();
			showThrobber();
			window.location.href = $(location).attr('href');
		});

		function showThrobber() {
			var pageHeight = $(document).height();
			$('#overlay').css('height', pageHeight - 49 + 'px');
			$('#overlay').css('margin-top', 49 + 'px');
			$('#overlay').css('opacity', '0.5');
			$('#overlay').css('display', 'inherit');
			$('#lightbox').css('display', 'inherit');
		}

	});
</script>

<div id="SectionEdit">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

		foreach (SectionWithSeats section in Model)
		{

    <fieldset>
        <legend>@(section.CourseSubject) @(section.CourseNumber) #@(section.ID.ItemNumber) - @(section.Yrq.FriendlyName)</legend>

				@Html.Hidden("CourseSubject", section.CourseSubject)
				@Html.Hidden("CourseNumber", section.CourseNumber)
				@Html.Hidden("ItemNumber", section.ID.ItemNumber)
				@Html.Hidden("YRQ", section.Yrq.ID)
				@Html.Hidden("Username", "test.user")
				@Html.Hidden("referrer", Request.UrlReferrer.ToString())


				<div id="accordion">
					<h3><a href="#">Notes</a></h3>
					<div id="first">
						<div class="editor-label">
								@Html.LabelFor(model => section.Footnotes, "Default Notes:")
						</div>
						<div class="editor-field">
							@foreach (string footnote in section.Footnotes) {
								<text>@footnote</text>
							}

						</div>

						<div class="editor-label">
								@Html.LabelFor(model => section.SectionFootnotes, "Additional Notes:")
						</div>
						<div class="editor-field">
								@Html.TextAreaFor(model => section.SectionFootnotes, new { @class = "editSectionFootnotes", @cols = 80, @rows = 5 })
								@Html.ValidationMessageFor(model => section.SectionFootnotes)
						</div>
					</div>

					<h3><a href="#">Advanced Options</a></h3>
					<div id="second">
						<div class="editor-label">
								@Html.LabelFor(model => section.CustomTitle, "Custom Title (makes section show as a different class)")
						</div>
						<div class="editor-field">

								@Html.TextBoxFor(model => section.CustomTitle, new { @class = "SubjectTextfield", @maxlength = "50" })
								@Html.ValidationMessageFor(model => section.CustomTitle)
						</div>

						<div class="editor-label">
								@Html.LabelFor(model => section.CustomDescription, "Custom Description (only visibile when there is a custom title)")
						</div>
						<div class="editor-field">
								@Html.TextAreaFor(model => section.CustomDescription, new { @class = "editSectionFootnotes", @cols = 80, @rows = 5 })
								@Html.ValidationMessageFor(model => section.CustomDescription)
						</div>

						</div>


				</div>



				<div id="lastModifiedBy">
				@if(section.LastUpdated != ""){
					<text>Last modified by @(section.LastUpdatedBy) on</text> @(section.LastUpdated)
				}

				</div>
				<p class="clear"></p>
        <p>
            <input type="submit" value="Save" /> <a href="#" id="cancelEdit">Cancel</a>
        </p>
    </fieldset>

		}
}
	</div>