@model IEnumerable<Ctc.Ods.Types.CoursePrefix>
@{
	int columnCount = (ViewBag.SubjectsColumns != null ? (int)ViewBag.SubjectsColumns : 1);
	IEnumerable<char> alphabet = Model.Select(s => s.Title.First()).Distinct();

	String yrq = ViewBag.YearQuarter ?? "All";
	String time = ViewBag.time;
	String days = ViewBag.days;
	String flex = ViewBag.flex;
	String avail = ViewBag.avail;
}
<style type="text/css">
@for(int i = 1; i <= columnCount; i++) {
	<text>
	#subjects-column-@i {
		float: left;
		width: @(100 / columnCount)%
	}
	</text>
}
	.subjects-letter {
		display: inline;
		padding: 1em;
	}
</style>

<div id="a_to_z">
@foreach (char lttr in alphabet)
{
	@Html.ActionLink(lttr.ToString(), "AllClasses", "Classes", new { letter = lttr.ToString(), time = time, days = days, flex = flex, avail = avail }, null);
	@: |
}
@Html.ActionLink("View All", "AllClasses", "Classes", new { time = time, days = days, flex = flex, avail = avail }, null)
</div>

<div id="subjects-list">
	@foreach (char letter in alphabet) {

		IEnumerable<Ctc.Ods.Types.CoursePrefix> titles = Model.Where(s => s.Title.StartsWith(letter.ToString()));
		int count = 1,
				breakPoint = Convert.ToInt32(Math.Ceiling(Convert.ToDouble(titles.Count()) / columnCount)),
				columnNumber = 1;

	 <div class="subjects-letter">
		<h2>@letter</h2>

		<div id="subjects-column-@columnNumber">
			@foreach (var item in titles) {
				if(count++ > breakPoint) {
				count = 1;
		@:</div>
		@:<div id="subjects-column-@(++columnNumber)">
				}
			<div class="subject">
				@Html.ActionLink(item.Title, "Subject", "Classes", new { item.Subject }, null)
			</div>
			}
		</div>
	 </div>

	}
</div>
