@using Ctc.Ods.Types;
@using CTCClassSchedule;
@using CTCClassSchedule.Common;
@using MvcMiniProfiler;
@using System.Text.RegularExpressions;
@using System.Globalization;
@using Microsoft.Security.Application
@model CTCClassSchedule.SearchResultsModel

@{
	MiniProfiler _profiler = MiniProfiler.Current;

	YearQuarter currentQuarter = ViewBag.CurrentYearQuarter;
	// NOTE: we should always have a YearQuarter (searching all quarters is not an option)
	YearQuarter yrq = ViewBag.YearQuarter;	// this is the YRQ being searched

	int itemCount = ViewBag.ItemCount ?? 0;
	int _courseCount = ViewBag.CourseCount ?? 0;
	String classDesc = _courseCount == 1 ? "class" : "classes";
	String sectionDesc = itemCount == 1 ? "section" : "sections";

	IDictionary<string, object> _routeValues = ViewBag.RouteValues;
	_routeValues["YearQuarterID"] = "All";

	string _searchTerm = ViewBag.searchterm;
	ViewBag.PageTitle = yrq.FriendlyName + " class search results for \"" + _searchTerm + "\" at Bellevue College";

}
<div id="scheduleMain" class="page-search">
    @Html.Partial("quarterNavigation")
    <div id="container" class="sidebar">
        <div id="sidebar">
            @Html.Partial("advancedFacetedSearch", Model.Subjects)
        </div> <!-- #sidebar -->

        <div id="content">

	@if (itemCount == 0)
 {
			<h1 id="pageTitle">No classes were found for &quot;@_searchTerm&quot;</h1>
			<div id="error-noclassesfound">
            <p><strong>TIP:</strong> Try searching for something else, or selecting fewer <em>Refine</em> options to the left.</p>
			</div>
 }
 else
 {
	<div id="searchHeaderInfo">
		<h1 id="searchResultsMsg">
			<strong>&quot;@_searchTerm&quot;</strong> found @itemCount @sectionDesc in @_courseCount @classDesc for @(yrq != null ? yrq.FriendlyName : "ERROR: Unknown quarter")
		</h1>
		<div id="searchPageNum">

		@if (ViewBag.TotalPages > 0)
		{
			<text>page @ViewBag.CurrentPage of @ViewBag.TotalPages</text>
		}
		</div>
	</div>
	 using (_profiler.Step("Rendering sections from search results"))
	 {
			IEnumerable<SectionWithSeats> linkedSections;
			bool hasLinked;
			int processedCount = 0;

		 IList<SectionWithSeats> orderedSections = Model.Section.OrderBy(s => Model.Section.Any(l => l.IsLinked && l.Yrq.ID == s.Yrq.ID && l.LinkedTo.Trim() == s.ID.ItemNumber)).ToList();

			while (processedCount < orderedSections.Count)
			{
				IEnumerable<SectionWithSeats> remainingSections = orderedSections.Skip(processedCount);

				@*
				 TODO: do we have to worry about the first section being IsLinked?
				*@
				 SectionWithSeats firstSection = remainingSections.First();

			 IEnumerable<SectionWithSeats> sectionBlock = remainingSections.TakeWhile(s =>
															 s.CourseID == firstSection.CourseID &&
															 s.CourseTitle == firstSection.CourseTitle &&
															 s.Credits == firstSection.Credits &&
															 s.IsVariableCredits == firstSection.IsVariableCredits);
			 processedCount += sectionBlock.Count();

				if (firstSection != null)
				 {
					 if (!firstSection.IsLinked)
					 {
							@*
							TODO: *******************************************************************************
							Is this valid? Can we assume only the first Section's ItemNumber will give us all the linkages?
							*************************************************************************************
							*@
						 linkedSections = orderedSections.Where(s => s.IsLinked && s.Yrq.ID == firstSection.Yrq.ID && s.LinkedTo.Trim() == firstSection.ID.ItemNumber);
						 hasLinked = linkedSections.Count() > 0;

						 _routeValues["Subject"] = Helpers.SubjectWithCommonCourseFlag(firstSection);
						 _routeValues["ClassNum"] = firstSection.CourseNumber;

				<h2 class="classHeading">
					<a href="@Url.Action("ClassDetails", "Classes", _routeValues)">
						@Html.SectionCourseHeading(firstSection, searchTerm: _searchTerm)
						@ViewHelpers.DisplayCredits(firstSection)
					</a>
					@if (linkedSections != null && hasLinked)
		 {
			 foreach (SectionWithSeats linkedSec in linkedSections)
			 {
						<br />
						<a href="@Url.Action("ClassDetails", "Classes", new { YearQuarterID = "All", Subject = linkedSec.CourseSubject.Trim(), ClassNum = linkedSec.CourseNumber })">
							@Html.SectionCourseHeading(linkedSec, _searchTerm)
							@ViewHelpers.DisplayCredits(linkedSec)
						</a>
			 }
		 }
				</h2> @* classHeading *@

				<div class="classInfo">
					<div class="classDetails">
					@*
					*************************************************************************************
					TODO: Is this a bug? Should it be checking .CustomDescription?
					*************************************************************************************
					*@
					@if (!string.IsNullOrWhiteSpace(firstSection.CustomTitle))
					{
						@Html.Raw(Html.FormatWithSearchTerm(_searchTerm, firstSection.CustomDescription).ToString())
					}
					else {
						@Html.Raw(firstSection.CourseDescriptions.Count() == 0 ? "" : Html.FormatWithSearchTerm(_searchTerm, firstSection.CourseDescriptions[0].Description).ToString())
					}

					@if (!hasLinked)
					{
						@Html.ActionLink("View class details", "ClassDetails", "Classes", new RouteValueDictionary(_routeValues), null)
					}
					</div>
					<p class="classNotes">
						@{
						 IList<string> commonFootnotes = Helpers.ExtractCommonFootnotes(sectionBlock).ToList();
						 // save footnotes to pass to sub-view
						 ViewData["CourseFootnotes"] = commonFootnotes;
						}
						@ViewHelpers.DisplayFootnotes(commonFootnotes, firstSection.CourseFootnotes)
					</p>
				</div> <!-- classInfo -->

						foreach (SectionWithSeats sec in sectionBlock)
						{
							<ul class='course-block @(yrq.ID.CompareTo(currentQuarter.ID) < 0 ? Html.Raw("course-block-past-quarter") : Html.Raw(string.Empty))'>
								@{
							//bothSections includes a master and its subordinate linked section(s).
							IEnumerable<SectionWithSeats> multipleSections = new List<SectionWithSeats>() { sec };

							if (linkedSections != null && hasLinked)
							{
								multipleSections = multipleSections.Union(linkedSections).ToList();
							}

							// NOTE: We must pass the current ViewData object to RenderPartial here.
							// If we pass a new ViewDataDictionary it blows away all our ViewBag properties.
							Html.RenderPartial("Sections", multipleSections, ViewData);

								}
							</ul>
						}

					 } @* if (!firstSection.IsLinked) *@

				} @* if (firstSection != null) *@

			} @* while (processedCount < orderedSections.Count) *@
	 }
 }



    @if (ViewBag.TotalPages <= 1 && Model.SearchResultNoSection.Count() > 0)
		{
			Html.RenderPartial("NoSectionCourses", Model.SearchResultNoSection);
		}

	@{Html.RenderPartial("Pager");}

    </div> <!-- #content -->
    </div> <!-- #container -->
</div>



@section PageScripts
{
<script type="text/javascript" src="@Url.Content("~/Scripts/CtcClassSchedule.js")"></script>
}
