@*
This file is part of CtcClassSchedule.

CtcClassSchedule is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CtcClassSchedule is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CtcClassSchedule.  If not, see <http://www.gnu.org/licenses/>.
*@
@using Ctc.Ods.Types
@using CTCClassSchedule.Common
@using CTCClassSchedule.Models
@model YearQuarterModel
@{
	YearQuarter yrq = Model.ViewingQuarter;
    IList<char> alphabet = Model.SubjectLetters;
    ViewBag.PageTitle = yrq.FriendlyName + " Credit Classes :: Classes";
}

@section metatags {
    <meta name="robots" content="noindex, follow">
}

@Html.Partial("breadcrumbNavigation")

@Html.Partial("quarterNavigation", new QuarterNavigationModel { CurrentQuarter = ViewBag.CurrentYearQuarter, NavigationQuarters = Model.NavigationQuarters, ViewingQuarter = yrq })

<div class="row row-padding buffer-top buffer-bottom">
    <div class="col-md-3">
        <div class="content-padding padding-right-none">
            @Html.Partial("advancedFacetedSearch", new AdvancedFacetedSearchModel { ViewingQuarter = yrq, FacetData = Model.FacetData})
        </div>
    </div>
    <div class="col-md-9">
        <div id="content" class="content-padding padding-left-none">
			<h1>@yrq.FriendlyName Credit Classes</h1>

			@Html.Partial("a_to_z", new AToZViewModel { LettersList = alphabet, ViewingLetter = ViewBag.letter == null ? (char?)null : ViewBag.letter[0] })

            @Html.Partial("LoggedInUser")

			@if (Model.ViewingSubjects.Count() == 0)
			{
				string letter = Request.QueryString["letter"];
			    <h3>No classes @(!string.IsNullOrWhiteSpace(letter) ? string.Format("beginning with the letter '{0}'", letter) : string.Empty) were found for @yrq.FriendlyName</h3>
			    <p><em>Tip:</em> Information for @yrq.FriendlyName may not be available yet.</p>
			}
			else
			{
				Html.RenderPartial("subjectList", Model.ViewingSubjects.ToList());
			}

			<div title="Edit subject information" id="edit-program"></div>
            <div id="nav-choose-subjects" title="Select new class subject"></div> @* div for pop-up dialog *@
        </div> <!-- #content -->
    </div> <!-- #col -->
</div>