@*
This file is part of CtcClassSchedule.

CtcClassSchedule is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CtcClassSchedule is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CtcClassSchedule.  If not, see <http://www.gnu.org/licenses/>.
*@
@using CTCClassSchedule.Common;

@{
  string ver = ViewBag.Version;
  ViewBag.SubjectChooserDisplayed = false;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>

    <title>@ViewBag.PageTitle</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="@Helpers.GlobalsHttp("btheme_v0.1/css/btheme_v0.1.2.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/grids.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/automatic-image-slider.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui-1.8.17.custom.css")" type="text/css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/ClassSchedule.css")?v=@ver" type="text/css" />
    <!--[if IE 7]>
      <link rel="stylesheet" href="@Helpers.GlobalsHttp("btheme_v0.1/css/ie7.css")" type="text/css" />
      <link rel="stylesheet" href="@Url.Content("~/Content/ie7.css")?v=@ver" type="text/css" />
    <![endif]-->

    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.8.17.custom.min.js")"></script>
    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-timepicker-addon.js")"></script>
    <script type="text/javascript">
      // This global variable MUST be declared before loading classes.js
      var g_globalsPath = "@Helpers.GlobalsPath";
    </script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/classes.js")"></script>
    <script type="text/javascript" src="@Helpers.GlobalsHttp("btheme_v0.1/js/searchbox.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/spin.min.js")"></script>	<!-- from http://fgnass.github.com/spin.js/ -->
    <script type="text/javascript">
      // global values used by multiple client scripts
      var g_ajaxLoaderImgPath = "@Url.Content("~/Content/images/ajax-loader.gif")";
      var g_getSeatsUrl = "@Url.Action("GetSeats", "Api")";
      var g_updateCMSFootnoteUrl = "@Url.Action("UpdateSectionFootnote", "Api")";
      var g_searchRootUrl = "@Url.Action("Index", "Search")";

      //feedbackform
      $(document).ready(function() {

        $("#feedbackdialog").append($("<iframe>").attr({
          src: "//bellevuecollege.edu/classesfeedback/?iframe=true",
          width: "100%",
          height: "100%"
        })).dialog({
          autoOpen: false,
          height: 400,
          width: 500,
          modal: true
        });
      });
    </script>
    @RenderSection("PageScripts", false)

    @MvcMiniProfiler.MiniProfiler.RenderIncludes()
  </head>



<body class="@(Helpers.GetBodyClasses(Context))">

	@Html.Include(Server.MapPath(Helpers.GlobalsFile("btheme_v0.1/asp/header_big.asp")))

	<div id="bodyWrapper">


		<!-- PROTOTYPE: This block of code only exists to prove that authentication/authorization works. -->
		<!-- ******************************************************************************************* -->
		<div style="float:right;">
	@if(Context.User.Identity.IsAuthenticated) {
			<text>[ Welcome <b>@Context.User.Identity.Name</b>! ] @(Helpers.IsAdmin(Context) ? " - Admin" : "") @(!Helpers.IsAdmin(Context) && Helpers.IsEditor(Context) ? " - Editor" : "")</text>
		<text>[ @Html.ActionLink("Logout", "Logout", "Classes")  ]</text>
 }
 else
 {
			@:[ @Html.ActionLink("Login", "Authenticate", "Classes") ]
	}
		</div>
		<!-- ******************************************************************************************* -->
		<!-- END PROTOTYPE -->


    <div id="titlebar">
		    <h1 id="sitename"><a href="@Url.Content("~/")">Classes</a></h1>
		</div>

		@RenderBody()

	  @(Html.Partial("Footer"))

	</div>

	@Html.Include(Server.MapPath(Helpers.GlobalsFile("btheme_v0.1/asp/footer_big.asp")))


  <script type="text/javascript">
    var _gaq = _gaq || [];
    var pluginUrl =
      '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
    _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
    _gaq.push(['_setAccount', 'UA-3966899-1']);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_setDomainName', 'bellevuecollege.edu']);
    _gaq.push(['_trackPageview']);

    //multisite
    _gaq.push(['multi._setAccount', 'UA-17566683-1']);
    _gaq.push(['multi._setAllowLinker', true]);
    _gaq.push(['multi._setDomainName', 'bellevuecollege.edu']);
    _gaq.push(['multi._trackPageview']);

    //CE
    _gaq.push(['ce._setAccount', 'UA-16482970-1']);
    _gaq.push(['ce._setAllowLinker', true]);
    _gaq.push(['ce._setDomainName', 'bellevuecollege.edu']);
    _gaq.push(['ce._trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  <script>
    /* New analytics.js tracking */
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-3966899-14', 'bellevuecollege.edu');
    ga('send', 'pageview');
  </script>
</body>
</html>
