@*
This file is part of CtcClassSchedule.

CtcClassSchedule is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

CtcClassSchedule is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with CtcClassSchedule.  If not, see <http://www.gnu.org/licenses/>.
*@
@using CTCClassSchedule.Common
@using CTCClassSchedule.Models
@model AdvancedFacetedSearchModel

@{
  int _numCredits;
  if (!int.TryParse(Model.FacetData.Credits, out _numCredits))
  {
    _numCredits = Model.FacetData.CreditsAny; // default
  }
  int subjectsCount = Model.Subjects == null ? 0 : Model.Subjects.Count();
  string _availabilityFacet = Model.FacetData.Availability;

  // construct the route values we'll pass to the ActionLink helper
  IDictionary<string, object> routeParms = ViewBag.LinkParams;

  string _quarterParam = routeParms.Keys.Contains("quarter") ? routeParms["quarter"].ToString() : string.Empty;
}

<!--<div id="advancedFacetedSearch">-->
<div class="panel panel-default">
    <div class="panel-heading" id="refinePanel">
        <h4 class="panel-title">
            <a href="#collapseRefine" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseRefine">Refine<span id="refineGlyph" class="glyphicon glyphicon-menu-down pull-right refine-glyph" aria-hidden="true"></span></a>
        </h4>
    </div>
    
    <div id="collapseRefine" class="panel-body buffer-padding panel-collapse collapse in" aria-labelledby="refinePanel">
        @* If the user has browsed vs. searched for a term, display a different subject chooser UI  *@
        @if ( !Model.IsSearch || (Model.IsSearch && subjectsCount > 0) ) {
            <h5>Subject</h5>
        
            <ul class="subject-sidenav list-unstyled">
            @if (Model.IsSearch)
            {
                if (String.IsNullOrWhiteSpace(Model.SelectedSubject))
                {
                    // Display all available subjects
                    if (subjectsCount > 1)
                    {
                        foreach (string slug in Model.Subjects)
                        {
                            // TODO: Pass SelectedSubject to Index/Search via a model
                            routeParms["Subject"] = slug;
                            <li>
                              <a href="@Url.Action("Index", "Search", new RouteValueDictionary(routeParms))">@slug</a>
                            </li>
                        }
                    }
                    else if (subjectsCount == 1)
                    {
                        <li>@Model.Subjects.First()</li>
                    }
                }
                else
                {
                    // Display only the selected subject
                    <li>
                    @{
                        // TODO: Pass SelectedSubject to Index/Search via a model
                        routeParms.Remove("Subject");
                    }
                        <a href="@Url.Action("Index", "Search", new RouteValueDictionary(routeParms))">All</a>
                    </li>
                    <li><b>@Model.SelectedSubject</b></li>
                }
            }
            else
            {
                // This is not a search
                if (!String.IsNullOrWhiteSpace(Model.SelectedSubject))
                {
                    <li><b>@Model.SelectedSubject</b></li>
                }
                <li>@Html.Partial("subjectNavigation", Model.ViewingQuarter)</li>
            }
            </ul>
        }

  @if (Model.IsSearch)
  {
    <div>
          <form id="daystimesform" action="@Url.Content("~/Search/")" method="get">

          <!-- hidden fields to include in form -->
          @if (!String.IsNullOrWhiteSpace(_quarterParam))
          {
            <input type="hidden" name="quarter" value="@_quarterParam"/>
          }

          @if (!String.IsNullOrWhiteSpace(Model.SelectedSubject))
          {
            <input type="hidden" name="Subject" value="@Model.SelectedSubject"/>
          }
          <input type="hidden" name="searchterm" value="@ViewBag.searchterm"/>
	  </div>
  }
  else
  {
    @:<form id="daystimesform" action="@Url.Content("~/")@(Model.ViewingQuarter != null ? Model.ViewingQuarter.FriendlyName.Replace(" ", string.Empty) : "All")/@Model.SelectedSubject" method="get">

    if (routeParms.ContainsKey("letter"))
    {
      <input type="hidden" name="letter" value="@routeParms["letter"]" />
    }
  }

  <h5>Class format</h5>
    @{
      IList<GeneralFacetInfo> modalities = Model.FacetData.Modality;
      IList<GeneralFacetInfo> days = Model.FacetData.Days;
      bool showDaysAndTimes = true;
    }

    @foreach (GeneralFacetInfo m in modalities)
    {
	    @* Determine whether or not we should display Days & Times options *@
      if (showDaysAndTimes && m.Title.Equals("Online", StringComparison.OrdinalIgnoreCase) && m.Selected && modalities.Where(o => o.Title.Equals("Online", StringComparison.OrdinalIgnoreCase) && o.Selected).Count() == 0)
      {
        showDaysAndTimes = false;
      }

        <div class="checkbox">
		    <label>
			    <input class="clear" type="checkbox" name="@m.ID" id="@m.ID" value="true" @if (m.Selected){ <text>checked='checked'</text> } /> @m.Title
            </label>
        </div>

    }

  @if (showDaysAndTimes)
  {
    <h5>Days and times</h5>
    <div id="times">
        <div class="form-group">
            <label for="timestart" class="sr-only">Start time</label>
            <input id="timestart" class="form-control"  name="timestart" type="text" value="@Model.FacetData.TimeStart" placeholder="Start time" />
        </div>
        <div>
            <span class="time-separator">-</span>
        </div>
        <div class="form-group">
            <label for="timeend" class="sr-only">End time</label>
            <input id="timeend" class="form-control" name="timeend" type="text" value="@Model.FacetData.TimeEnd" placeholder="End time" />
        </div>
    </div>

    <div id="days">
        <fieldset>
            <legend class="sr-only">Class days</legend>
            <div class="form-group-sm">
                @foreach (GeneralFacetInfo d in days)
                {
                    string abbrv = d.Title;
                    switch ( d.ID )
                    {
                        case "day_su":
                            abbrv = "Sunday";
                            break;
                        case "day_m":
                            abbrv = "Monday";
                            break;
                        case "day_t":
                            abbrv = "Tuesday";
                            break;
                        case "day_w":
                            abbrv = "Wednesday";
                            break;
                        case "day_th":
                            abbrv = "Thursday";
                            break;
                        case "day_f":
                            abbrv = "Friday";
                            break;
                        case "day_s":
                            abbrv = "Saturday";
                            break;
                        default:
                            abbrv = d.Title;
                            break;
                    }
                    <label class="daylabel @if (d.ID == "day_su" || d.ID == "day_s"){ <text>weekend</text> }">
                    <abbr title="@abbrv">@d.Title</abbr><br />
                    <input type="checkbox" name="@d.ID" id="@d.ID" aria-label="@abbrv" value="true" @if (d.Selected){ <text>checked="checked"</text> }/>
                    </label>
                }
            </div>
        </fieldset>
    </div>
  }

  <h5>Credits</h5>
  <div id="numcredits-facet">
      <label for="numcredits" class="sr-only">Number of credits</label>
      <select class="clear form-control" name="numcredits" id="numcredits">
        <option @if (_numCredits == Model.FacetData.CreditsAny){ <text>selected='selected'</text> }>Any</option>
        @for (int i = 1; i <= 15; i++)
        {
          <option @if (_numCredits == i){ <text>selected='selected'</text> }>@i</option>
        }
      </select>
  </div>

	<h5>Other options</h5>
	<div id="latestart-facet" class="checkbox">
		<label>
			<input class="clear" type="checkbox" name="latestart" id="latestart" value="true" @if (@Model.FacetData.LateStart == "true")
                                                                                     { <text>checked='checked'</text> } />
			Late Start
		</label>
	</div>

	<h5>Availability</h5>
	<div id="availability-facet">
        <fieldset>
            <legend class="sr-only">Class availability</legend>
            <div class="radio">
                <label>
                <input id="radio_all" type="radio" name="avail" value="All" @if (@_availabilityFacet == "All" || @_availabilityFacet == null)
                                                                        { <text> checked="checked"</text> } /> All
                </label>
            </div>
            <div class="radio">
                <label>
                    <input id="radio_open" type="radio" name="avail" value="Open"	@if (@_availabilityFacet == "Open")
                                                                          { <text> checked="checked"</text> } /> Open
                </label>
            </div>
        </fieldset>
	</div>

	<div id="submit" class="text-right">
		<input type="submit" id="submit_days_times" name="submitbtn" value="Refine &raquo;" class="btn btn-sm btn-primary" />
	</div>

</form>
</div>
</div>

<div id="check-xs" class="visible-xs"></div>

<script type="text/javascript">
    $(function () {
                
        $('#timestart').timepicker({
            timeFormat: 'h:mm tt',
        });
        $('#timeend').timepicker({
            timeFormat: 'h:mm tt',
        });

        if ($('#check-xs').is(':visible')) {
            $("#collapseRefine").removeClass("in");
            $("#refineGlyph").removeClass("glyphicon-menu-down");
            $("#refineGlyph").addClass("glyphicon-menu-up");
        }

        $('#collapseRefine').on('hidden.bs.collapse', function () {
            $("#refineGlyph").removeClass("glyphicon-menu-down");
            $("#refineGlyph").addClass("glyphicon-menu-up");
        });
        $('#collapseRefine').on('show.bs.collapse', function () {
            $("#refineGlyph").removeClass("glyphicon-menu-up");
            $("#refineGlyph").addClass("glyphicon-menu-down");
        });

    /*
    //when the user clicks uncheck all formats, uncheck them and resubmit the form.
    $('#uncheckFormat').click(function (event) {
      event.preventDefault();
      $('#f_oncampus').removeAttr('checked');
      $('#f_online').removeAttr('checked');
      $('#f_hybrid').removeAttr('checked');
      $('#f_telecourse').removeAttr('checked');
      $('#daystimesform').submit();
    });
    */

  });
</script>