@using CTCClassSchedule
@using Ctc.Ods.Types
@model IList<YearQuarter>
@{
	YearQuarter quarterViewing = ViewBag.YearQuarter;
	string subject = string.Empty;

	//ICollection<string> foo = ViewData.Keys;
	//RouteValueDictionary bar = ViewContext.RouteData.DataTokens;
	if (ViewContext.RouteData.Values.ContainsKey("Subject"))
	{
		subject = ViewContext.RouteData.Values["Subject"].ToString();
	}
}

<div class="panel panel-default">
    <div class="panel-heading" id="refinePanel">
        <h4 class="panel-title">
            <a href="#collapseRefine" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapseRefine">Refine<span id="refineGlyph" class="glyphicon glyphicon-menu-down pull-right refine-glyph" aria-hidden="true"></span></a>
        </h4>
    </div>
    
    <div id="collapseRefine" class="panel-body buffer-padding panel-collapse collapse in" role="tabpanel" aria-labelledby="refinePanel">
        <h5>Subject</h5>

        <ul class="subject-sidenav buffer-bottom list-unstyled">
		    @if (!string.IsNullOrWhiteSpace(subject))
		    {
			    <li class="active">
				    <span class="notlink">@subject</span>
			    </li>
		    }

		    <li>
			    @Html.Partial("subjectNavigation", quarterViewing, new ViewDataDictionary())
		    </li>
	    </ul>

	    <h5>Classes offered</h5>
	    <ul>
		    <li @if (quarterViewing == null) { <text> class="active" </text> }>
			    <a href="@Url.Action("AllClasses", "Classes")">All credit classes</a>
		    </li>

		    @foreach (YearQuarter yrq in Model)
		    {
			    <li @if (quarterViewing != null && quarterViewing == yrq) { <text> class="active" </text> }>
			    @if (String.IsNullOrEmpty(subject))
			    {
				    <a href="@Url.Action("YearQuarter", "Classes", new {YearQuarter = yrq.FriendlyName.Replace(" ", string.Empty)})">@yrq.FriendlyName</a>
			    }
			    else
			    {
				    <a href="@Url.Action("YearQuarterSubject", "Classes", new {YearQuarter = yrq.FriendlyName.Replace(" ", string.Empty), Subject = subject})">@yrq.FriendlyName</a>
			    }
			    </li>
		    }
        </ul>
    </div>
</div>

<div id="check-xs" class="visible-xs"></div>

<script type="text/javascript">
  $(function () {

    if ( $('#check-xs').is(':visible') ) {
        $("#collapseRefine").removeClass("in");
        $("#refineGlyph").removeClass("glyphicon-menu-down");
        $("#refineGlyph").addClass("glyphicon-menu-up");
    }

    $('#collapseRefine').on('hidden.bs.collapse', function () {
        $("#refineGlyph").removeClass("glyphicon-menu-down");
        $("#refineGlyph").addClass("glyphicon-menu-up");
    });
    $('#collapseRefine').on('show.bs.collapse', function () {
        $("#refineGlyph").removeClass("glyphicon-menu-up");
        $("#refineGlyph").addClass("glyphicon-menu-down");
    });

  });
</script>