@using System.Diagnostics
@using Ctc.Ods.Types
@using CTCClassSchedule.Models
@model IEnumerable<CourseDescription>

@{
  const string NO_DESCRIPTION_MSG = "No class description found. Please report this via the feedback link to the right of this website.";

  YearQuarter currentQuarter = ViewData["CurrentQuarter"] as YearQuarter;
  ViewBag.PageTitle = "All Credit Classes and Descriptions at Bellevue College";
}

@if (currentQuarter != null)
{
  string currentYrq = currentQuarter.ID;

  // TODO: Fix CtcOdsApi to only return current & future descriptions
  // Get a list of only the descriptions that became active before or during the current quarter, with most current first
  IList<CourseDescription> current = Model.Where(d => d.YearQuarterBegin.ID.CompareTo(currentYrq) <= 0).OrderByDescending(d => d.YearQuarterBegin.ID).ToList();

  // now get a list of only future planned descriptions, in order
  IList<CourseDescription> future = Model.Where(d => d.YearQuarterBegin.ID.CompareTo(currentYrq) > 0).OrderBy(d => d.YearQuarterBegin.ID).ToList();

  if (current.Any())
  {
    CourseDescription currentDesc = current.First();

    if (string.IsNullOrWhiteSpace(currentDesc.Description) && !future.Any())
    {
    <!-- A current course description was found, but no actual description text exists. AND no future course descriptions were found -->
	  <p>@NO_DESCRIPTION_MSG</p>
    }
    else
    {
    <p>@currentDesc.Description</p>
    }
  }
  else
  {
    if (!future.Any())
    {
    <!-- No current or future course descriptions found -->
	  <p>@NO_DESCRIPTION_MSG</p>
    }
  }

  if (future.Any())
  {
    CourseDescription futureDesc = future.First();

     <div>
			  <h3>Description starting @(futureDesc.YearQuarterBegin.FriendlyName)</h3>
    @if (string.IsNullOrWhiteSpace(futureDesc.Description))
    {
        <!-- A future course description was found, but no actual description text exists -->
			  <p>@NO_DESCRIPTION_MSG</p>
    }
    else
    {
        <p>@futureDesc.Description</p>
    }
		  </div>
  }
}
else
{
  <!-- Unable to determine current quarter - skipping course descriptions. -->
  <p>@NO_DESCRIPTION_MSG</p>
}
