@using Ctc.Ods.Types
@model CTCClassSchedule.Models.QuarterNavigationModel

<div class="row">
    <div class="col-md-7">
        <div class="content-padding">
            @using (Html.BeginForm("Index", "Search", FormMethod.Get, new { @id = "submitSearchForm", @class = "navbar-form navbar-left" }))
            {
                <div class="form-group">
                    <label for="seach-quarter-select" class="sr-only">Pick a quarter</label>
		            <select name="quarter" id="seach-quarter-select" class="form-control">
			            @foreach (YearQuarter yrq in Model.NavigationQuarters)
			            {
				            <option value="@yrq.FriendlyName.Replace(" ", string.Empty)" @if (Model.ViewingQuarter != null && Model.ViewingQuarter == yrq) { <text> selected="selected" </text> }>@yrq.FriendlyName</option>
			            }
			            <option value="CE">Continuing Education</option>
		            </select>
                    <label class="sr-only" for="search-keyword">Classes search</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="search-keyword" name="searchterm" maxlength="100" value="@(Request.QueryString["searchterm"] ?? string.Empty)" />
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default" name="submit" value="Search classes">Search classes</button>
                        </span>
                    </div>
                </div>
    
            }
        </div>
    </div>
    <div class="col-md-4 col-md-offset-1">
        <div class="content-padding">
            <div class="text-right nav-margin">
                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Browse classes <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    @foreach (YearQuarter yrq in Model.NavigationQuarters)
			        {
				        <li>
					        <a href="@Url.Action("YearQuarter", "Classes", new {YearQuarter = yrq.FriendlyName.Replace(" ", "")})">
						        @yrq.FriendlyName
						        @{
							        int yrqComparison = yrq.ID.CompareTo(Model.CurrentQuarter.ID);
						        }
						        @if (yrqComparison >= 0)
						        {
							        if (yrqComparison > 0) {
								        @:(upcoming)
							        }
							        else {
								        @:(current quarter)
							        }
						        }
					        </a>
				        </li>
                    }
                    <li><a href="@Url.Action("AllClasses", "Classes")">All class descriptions</a></li>
                    <li role="separator" class="divider"></li>
			        <li><a href="http://www.campusce.net/BC/Search/Search.aspx">Continuing Education <span class="clarify">(non-credit)</span></a></li>
			        <li><a href="http://bellevuecollege.edu/careers/sac_classes.html">Center for Career Connections classes &amp; workshops</a></li>
                </ul>  
                <a class="btn btn-success" href="//bellevuecollege.edu/registration/register/">Register</a>
            </div>         
        </div>    
    </div>
</div>