@using CTCClassSchedule.Common;
@using Ctc.Web.Security;
@using CTCClassSchedule.Common;
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
	<!-- VERSION: @Html.Raw(ViewBag.Version) -->

	<title>@ViewBag.PageTitle</title>
	<!-- TODO: Any hope for making this page configurable? -->
	<link rel="stylesheet" href="http://bellevuecollege.edu/globals/btheme_v0.1/css/btheme_v0.1.1.css" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/Content/grids.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/Content/automatic-image-slider.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/Content/jquery-ui-1.8.17.custom.css")" type="text/css" />
	<link rel="stylesheet" href="@Url.Content("~/Content/ClassSchedule.css")" type="text/css" />

	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-1.8.17.custom.min.js")"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.unobtrusive-ajax.min.js"></script>
	<script type="text/javascript" src="@Url.Content("~/Content/js/jquery-ui-timepicker-addon.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/classes.js")"></script>
	<script type="text/javascript" src="http://bellevuecollege.edu/globals/btheme_v0.1/js/searchbox.js"></script>
	<script type="text/javascript" src="@Url.Content("~/Scripts/spin.min.js")"></script>	<!-- from http://fgnass.github.com/spin.js/ -->
	<script type="text/javascript">
		// global values used by multiple client scripts
		var g_ajaxLoaderImgPath = "@Url.Content("~/Content/images/ajax-loader.gif")";
		var g_getSeatsUrl = "@Url.Action("getSeats", "Classes")";


        //feedbackform
        $(document).ready(function() {

	        $("#feedbackdialog").append($("<iframe>").attr({
			    src: "//bellevuecollege.edu/classesfeedback/?iframe=true",
			    width: "100%",
			    height: "100%"
		      })).dialog({
			    autoOpen: false,
			    height: 400,
			    width: 500,
			    modal: true
	        });

	        $( "#betaFeedback" ).click(function() {
			        $( "#feedbackdialog" ).dialog( "open" );
			        return false;
	        });
        });
	</script>
	@MvcMiniProfiler.MiniProfiler.RenderIncludes()
</head>



<body class="@(Helpers.getBodyClasses(Context))">
	<div id="betaBar">
		<div id="betaBarWrapper">
			<div id="betaInfo">You are using the <strong>class schedule</strong> BETA - <a href="http://bellevuecollege.edu/schedule/">Return to classic view</a></div>
			<div id="betaFeedback"><a href="http://bellevuecollege.edu/classesfeedback/"><img alt="Give Feedback" title="Give Feedback" src="http://bellevuecollege.edu/classesbeta/Content/images/btn-feedback.png" /></a></div><div id="feedbackdialog" title="Feedback"></div>
		</div>

	</div>

	@Html.Include(Server.MapPath("/globals/btheme_v0.1/asp/header_big.asp"))

	<div id="bodyWrapper">


		<!-- PROTOTYPE: This block of code only exists to prove that authentication/authorization works. -->
		<!-- ******************************************************************************************* -->
		<div style="float:right;">
	@if(Context.User.Identity.IsAuthenticated) {
			<text>[ Welcome <b>@Context.User.Identity.Name</b>! ] @(Helpers.isAdmin(Context) ? " - Admin" : "") @(!Helpers.isAdmin(Context) && Helpers.isEditor(Context) ? " - Editor" : "")</text>
		<text>[ @Html.ActionLink("Logout", "Logout", "Classes")  ]</text>
 }
 else
 {
			@:[ @Html.ActionLink("Login", "Authenticate", "Classes") ]
	}
		</div>
		<!-- ******************************************************************************************* -->
		<!-- END PROTOTYPE -->


    <div id="titlebar">
		    <h1 id="sitename"><a href="@Url.Content("~/")">Classes</a></h1>
		</div>

		@RenderBody()

		@(Html.Partial("Footer"))

	</div>

	@Html.Include(Server.MapPath("/globals/btheme_v0.1/asp/footer_big.asp"))


<script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
    /*main college tracker*/
    try {
        var pageTracker = _gat._getTracker("UA-3966899-1");
        pageTracker._setDomainName(".bellevuecollege.edu");
        pageTracker._setAllowLinker(true);
        pageTracker._setAllowHash(false);
        pageTracker._trackPageview();
    } catch (err) { }</script>

<script type="text/javascript">
    /*multisite test setup*/
    try {
        var altpageTracker = _gat._getTracker("UA-17566683-1");
        altpageTracker._setDomainName(".bellevuecollege.edu");
        altpageTracker._setAllowLinker(true);
        altpageTracker._setAllowHash(false);
        altpageTracker._trackPageview();
    } catch (err) { }
</script>

<script type="text/javascript">
    /*ce tracker*/
    try {
        var mdtpageTracker = _gat._getTracker("UA-16482970-1");
        mdtpageTracker._setDomainName(".bellevuecollege.edu");
        mdtpageTracker._setAllowLinker(true);
        mdtpageTracker._setAllowHash(false);
        mdtpageTracker._trackPageview();
    } catch (err) { }
</script>

</body>
</html>
