<script type="text/javascript">
	$(document).ready(function () {
		$('#timestart').timepicker();
		$('#timeend').timepicker();

		$('#submitjquery').html('<input type="submit" id="submit_days_times" name="submitbtn" value="Refine >" />');
		$('#submit').html('');


		function showThrobber() {
			var pageHeight = $(document).height();
			$('#overlay').css('height', pageHeight - 49 + 'px');
			$('#overlay').css('margin-top', 49 + 'px');
			$('#overlay').css('opacity', '0.5');
			$('#overlay').css('display', 'inherit');
			$('#lightbox').css('display', 'inherit');

		}




		//when user clicks refine, show throbber
		$('#submit_days_times').click(function () {
			showThrobber();
		});

		if (!$("#radio_all").is(':checked')) {
			$('#radio_all').click(function () {
				showThrobber();
				$('#daystimesform').submit();
			});
		}

		if (!$("#radio_open").is(':checked')) {
			$('#radio_open').click(function () {
				showThrobber();
				$('#daystimesform').submit();
			});
		}


		//when class formats are clicked, auto submit the form
		$('#f_oncampus').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});


		$('#f_online').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});


		$('#f_hybrid').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});


		$('#f_telecourse').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});

		//when the user clicks uncheck all formats, uncheck them and resubmit the form.
		$('#uncheckFormat').click(function (event) {
			event.preventDefault();
			$('#f_oncampus').removeAttr('checked');
			$('#f_online').removeAttr('checked');
			$('#f_hybrid').removeAttr('checked');
			$('#f_telecourse').removeAttr('checked');
			showThrobber();
			$('#daystimesform').submit();
		});



	});
</script>

<div id="overlay"></div>
<div id="lightbox">
 <img src="@Url.Content("~/Content/")images/ajax-loader_big.gif" />
</div>


	@{

		String QuarterOneFriendly = ViewBag.QuarterOneFriendly;
		String QuarterTwoFriendly = ViewBag.QuarterTwoFriendly;
		String QuarterThreeFriendly = ViewBag.QuarterThreeFriendly;

		String QuarterOneURL = ViewBag.QuarterOneURL;
		String QuarterTwoURL = ViewBag.QuarterTwoURL;
		String QuarterThreeURL = ViewBag.QuarterThreeURL;
		if (ViewBag.Subject == "All") {
			ViewBag.Subject = "";
		}
	}




<div id="advancedFacetedSearch">
		<h3>Subject</h3>
	<ul class="subject">
		<li @(ViewBag.activeClass)>
			<a href="" >@ViewBag.Subject</a>
		</li>
	</ul>
 @Html.Partial("subjectNavigation")

<form id="daystimesform" action="@Url.Content("~/Classes/")@ViewBag.YearQuarter/@ViewBag.Subject" method="get">

	<!-- hidden fields to include in form -->



	<h3>Class Format</h3>
	<div id="classformat">
	@if (@ViewBag.f_oncampus == "true" || @ViewBag.f_online == "true" || @ViewBag.f_hybrid == "true" || @ViewBag.f_telecourse == "true")
 {
		<p class="label_checkbox_pair">
			<a href="#" id="uncheckFormat">Uncheck all</a>
		</p>
 }
		<p class="label_checkbox_pair">

			<input class="clear" type="checkbox" name="f_oncampus" id="f_oncampus" value="true" @if (@ViewBag.f_oncampus == "true")
																																											 {  <text>checked="checked"</text> } />
			<label for="f_oncampus">On Campus</label>
		</p>
		<p class="label_checkbox_pair">

			<input class="clear" type="checkbox" name="f_online" id="f_online" value="true" @if (@ViewBag.f_online == "true")
																																									 {  <text>checked="checked"</text> }  />
			<label for="f_online">Online</label>
		</p>
		<p class="label_checkbox_pair">

			<input class="clear" type="checkbox" name="f_hybrid" id="f_hybrid" value="true" @if (@ViewBag.f_hybrid == "true")
																																									 {  <text>checked="checked"</text> }  />
			<label for="f_hybrid">Hybrid</label>
		</p>
		<p class="label_checkbox_pair">

			<input class="clear" type="checkbox" name="f_telecourse" id="f_telecourse" value="true" @if (@ViewBag.f_telecourse == "true")
																																													 {  <text>checked="checked"</text> }  />
			<label for="f_telecourse">Telecourse</label>
	</p>
	</div>



		<h3>Days & Times</h3>
		<div id="times">
		<input id="timestart"  name="timestart" type="text" value="@ViewBag.timestart" /> - <input id="timeend" name="timeend" type="text" value="@ViewBag.timeend" />
		</div>
		<div id="days">
			<div class="day">
				<div class="daylabel">Su</div>
					<input type="checkbox" name="day_su" value="true" @if (@ViewBag.day_su == "true")
																											 {  <text>checked="checked"</text> } />
			</div>
			<div class="day">
				<div class="daylabel">M</div>
				<input type="checkbox" name="day_m" value="true"  @if (@ViewBag.day_m == "true")
																											{  <text>checked="checked"</text> }/>
			</div>
			<div class="day">
				<div class="daylabel">T</div>
				<input type="checkbox" name="day_t" value="true"  @if (@ViewBag.day_t == "true")
																											{  <text>checked="checked"</text> }/>
			</div>
			<div class="day">
				<div class="daylabel">W</div>
				<input type="checkbox" name="day_w"  value="true" @if (@ViewBag.day_w == "true")
																											{  <text>checked="checked"</text> } />
			</div>
			<div class="day">
				<div class="daylabel">Th</div>
				<input type="checkbox" name="day_th" value="true" @if (@ViewBag.day_th == "true")
																											{  <text>checked="checked"</text> } />
			</div>
			<div class="day">
				<div class="daylabel">F</div>
				<input type="checkbox" name="day_f" value="true"  @if (@ViewBag.day_f == "true")
																											{  <text>checked="checked"</text> }/>
			</div>
			<div class="day">
				<div class="daylabel">S</div>
				<input type="checkbox" name="day_s" value="true"  @if (@ViewBag.day_s == "true")
																											{  <text>checked="checked"</text> }/>
			</div>

			<div id="submitjquery">

			</div>
		</div>



	<h3>Availability</h3>
	<ul>


		<li><input id="radio_all" type="radio" name="avail" value="All" @if (@ViewBag.avail == "All" || @ViewBag.avail == null)
																																	{  <text> checked="checked"</text> } > All</li>
		<li><input id="radio_open" type="radio" name="avail" value="Open"	@if (@ViewBag.avail == "Open")
																																		{  <text> checked="checked"</text> } > Open</li>
	</ul>

	<div id="submit">
		<input type="submit" id="submit_days_times" name="submitbtn" value="Refine >" />
	</div>
</form>
	<h3>Classes Offered:</h3>
	<ul>
		<li @if (ViewBag.YearQuarter == "all" || ViewBag.YearQuarter == "")
			{ @(ViewBag.activeClass) }>

			<a href="">All Credit Classes</a>
		</li>
		<li>
			<a href="@Url.Content("~/Classes/")@(QuarterOneURL)">@QuarterOneFriendly</a>
		</li>
		<li>
			<a href="@Url.Content("~/Classes/")@(QuarterTwoURL)">@QuarterTwoFriendly</a>
		</li>
		<li>
			<a href="@Url.Content("~/Classes/")@(QuarterThreeURL)">@QuarterThreeFriendly</a>
		</li>

	</ul>


</div>