@using Ctc.Ods.Types
@using CTCClassSchedule.Common
@using CTCClassSchedule.Models
@using CTCClassSchedule
<script type="text/javascript">
	$(document).ready(function () {
		$('#timestart').timepicker({
			numberOfMonths: 0
		});
		$('#timeend').timepicker({
			numberOfMonths: 0
		});

		$('#submitjquery').html('<input type="submit" id="submit_days_times" name="submitbtn" value="Refine >" />');
		$('#submit').html('');


		function showThrobber() {
			var pageHeight = $(document).height();
			$('#overlay').css('height', pageHeight - 49 + 'px');
			$('#overlay').css('margin-top', 49 + 'px');
			$('#overlay').css('opacity', '0.5');
			$('#overlay').css('display', 'inherit');
			$('#lightbox').css('display', 'inherit');

		}




		//when user clicks refine, show throbber
		$('#submit_days_times').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});

		if (!$("#radio_all").is(':checked')) {
			$('#radio_all').click(function () {
				showThrobber();
				$('#daystimesform').submit();
			});
		}

		if (!$("#radio_open").is(':checked')) {
			$('#radio_open').click(function () {
				showThrobber();
				$('#daystimesform').submit();
			});
		}


		//when class formats are clicked, auto submit the form
		$('#f_oncampus').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});


		$('#f_online').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});


		$('#f_hybrid').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});


		$('#f_telecourse').click(function () {
			showThrobber();
			$('#daystimesform').submit();
		});

		//when the user clicks uncheck all formats, uncheck them and resubmit the form.
		$('#uncheckFormat').click(function (event) {
			event.preventDefault();
			$('#f_oncampus').removeAttr('checked');
			$('#f_online').removeAttr('checked');
			$('#f_hybrid').removeAttr('checked');
			$('#f_telecourse').removeAttr('checked');
			showThrobber();
			$('#daystimesform').submit();
		});



	});
</script>

<div id="overlay"></div>
<div id="lightbox">
 <img src="@Url.Content("~/Content/")images/ajax-loader_big.gif" />
</div>


	@{
		YearQuarter yrq = ViewBag.YearQuarter;
		string subject = (ViewBag.Subject ?? string.Empty);

		if (subject.ToUpper() == "ALL") {
			subject = string.Empty;
		}
		string lastSubject = "";
		// construct the route values we'll pass to the ActionLink helper
		IDictionary<string, object> routeParms = ViewBag.LinkParams;

		string QuarterParam = Request.QueryString["quarter"];
	}

<div id="advancedFacetedSearch" class="sidenav">
        <h2>Refine</h2>


@* if the user has browsed vs. searched for a term, display a different subject chooser UI  *@
@if (ViewContext.RouteData.Values["Controller"].Equals("Search"))
{
    <h3>Subject</h3>
	<ul class="subject">
   @if (!string.IsNullOrWhiteSpace(subject))
		{
			routeParms.Remove("Subject");
			<li>
				<a href="@Url.Action("Index", "Search", new RouteValueDictionary(routeParms))">All</a>
			</li>
		 }
	@foreach (SectionWithSeats item in Model)
	{


		if (lastSubject != item.CourseSubject.ToUpper()) {
			if (item.CourseSubject.ToUpper() == (subject ?? string.Empty).ToUpper())
			{
			<li @(ViewBag.activeClass)>
						<span class="notlink">@item.CourseSubject</span>
			</li>
			}
			else
			{
				routeParms["Subject"] = item.CourseSubject;
				<li>
				<a href="@Url.Action("Index", "Search", new RouteValueDictionary(routeParms))">@item.CourseSubject</a>
				</li>
			}

			lastSubject = item.CourseSubject.ToUpper();
			}
		}
	</ul>
	}

@if (ViewContext.RouteData.Values["Controller"].Equals("Classes"))
{
	<div>
		<form id="daystimesform" action="@Url.Content("~/" + ViewContext.RouteData.Values["Controller"])/@(yrq != null ? yrq.FriendlyName.Replace(" ","") : "All")/@subject" method="get">

		@if (routeParms.ContainsKey("letter"))
  {
			<input type="hidden" name="letter" value="@routeParms["letter"]" />
		}
	</div>
}
else if (ViewContext.RouteData.Values["Controller"].Equals("Search"))
{
	<div>
		<form id="daystimesform" action="@Url.Content("~/" + ViewContext.RouteData.Values["Controller"])" method="get">
		<!-- hidden fields to include in form -->
		@if (!string.IsNullOrWhiteSpace(QuarterParam))
		{
			<input type="hidden" name="quarter" value="@QuarterParam"/>
		}

		@if (!string.IsNullOrWhiteSpace(subject))
		{
			<input type="hidden" name="Subject" value="@subject"/>
		}
		<input type="hidden" name="searchterm" value="@ViewBag.searchterm"/>
	</div>
}
else
{
	@:<form id="daystimesform">
}

	<h3>Class Format</h3>
	<div id="classformat">
	@{
		IList<ModalityFacetInfo> modalities = (IList<ModalityFacetInfo>)ViewBag.Modality;
		bool showDaysAndTimes = true;
	}
	@if (modalities.Where(m => m.Selected == true).Count() > 0)
 {
		<p class="label_checkbox_pair">
			<a href="#" id="uncheckFormat">Uncheck all</a>
		</p>
 }
 @foreach (ModalityFacetInfo m in modalities)
 {
	 @* Determine whether or not we should display Days & Times options *@
	 if (m.Title.ToUpper() == "ONLINE" && m.Selected && modalities.Where(o => o.Title.ToUpper() != "ONLINE" && o.Selected).Count() == 0) { showDaysAndTimes = false; }

		<p class="label_checkbox_pair">
			<input class="clear" type="checkbox" name="@m.ID" id="@m.ID" value="true" @if (m.Selected)
                                                                             { <text>checked='checked'</text> } />
			<label for="@m.ID">@m.Title</label>
		</p>
 }
	</div>


	@if (showDaysAndTimes)
 {
		<h3>Days & Times</h3>
		<div id="times">
		    <label><span title="Start Time" class="time-text">START</span><input id="timestart"  name="timestart" type="text" value="@ViewBag.timestart" /></label><span class="time-separator">-</span><label><span title="End Time" class="time-text">END</span><input id="timeend" name="timeend" type="text" value="@ViewBag.timeend" /></label>
		</div>
		<div id="days">
			<div class="day">
				<label class="daylabel weekend" for="day_su"><abbr title="Sunday ">S</abbr></label>
					<input type="checkbox" name="day_su" id="day_su"  value="true" @if (@ViewBag.day_su == "true")
																											 {  <text>checked="checked"</text> } />
			</div>
			<div class="day">
				<label class="daylabel" for="day_m"><abbr title="Monday ">M</abbr></label>
				<input type="checkbox" name="day_m" id="day_m" value="true"  @if (@ViewBag.day_m == "true")
																											{  <text>checked="checked"</text> }/>
			</div>
			<div class="day">
				<label class="daylabel" for="day_t"><abbr title="Tuesday ">T</abbr></label>
				<input type="checkbox" name="day_t" id="day_t" value="true"  @if (@ViewBag.day_t == "true")
																											{  <text>checked="checked"</text> }/>
			</div>
			<div class="day">
				<label class="daylabel" for="day_w"><abbr title="Wednesday ">W</abbr></label>
				<input type="checkbox" name="day_w"  id="day_w" value="true" @if (@ViewBag.day_w == "true")
																											{  <text>checked="checked"</text> } />
			</div>
			<div class="day">
				<label class="daylabel" for="day_th"><abbr title="Thursday ">T</abbr></label>
				<input type="checkbox" name="day_th" id="day_th" value="true" @if (@ViewBag.day_th == "true")
																											{  <text>checked="checked"</text> } />
			</div>
			<div class="day">
				<label class="daylabel" for="day_f"><abbr title="Friday ">F</abbr></label>
				<input type="checkbox" name="day_f" id="day_f" value="true"  @if (@ViewBag.day_f == "true")
																											{  <text>checked="checked"</text> }/>
			</div>
			<div class="day">
				<label class="daylabel weekend" for="day_s"><abbr title="Saturday ">S</abbr></label>
				<input type="checkbox" name="day_s" id="day_s" value="true"  @if (@ViewBag.day_s == "true")
																											{  <text>checked="checked"</text> }/>
			</div>
			<div id="submitjquery">

			</div>
		</div>
}



	<h3>Availability</h3>
	<ul id="availability-facet">


		<li><label><input id="radio_all" type="radio" name="avail" value="All" @if (@ViewBag.avail == "All" || @ViewBag.avail == null)
																																	{  <text> checked="checked"</text> } /> All</label></li>
		<li><label><input id="radio_open" type="radio" name="avail" value="Open"	@if (@ViewBag.avail == "Open")
																																		{  <text> checked="checked"</text> } /> Open</label></li>
	</ul>

	<div id="submit">
		<input type="submit" id="submit_days_times" name="submitbtn" value="Refine >" />
	</div>
</form>




</div>
