<script type="text/javascript">
	$(document).ready(function () {
		$('#timestart').timepicker();
		$('#timeend').timepicker();
	});
</script>


	@{

		String QuarterOneFriendly = ViewBag.QuarterOneFriendly;
		String QuarterTwoFriendly = ViewBag.QuarterTwoFriendly;
		String QuarterThreeFriendly = ViewBag.QuarterThreeFriendly;

		String QuarterOneURL = ViewBag.QuarterOneURL + "?type=beta" + ViewBag.queryStringAll;
		String QuarterTwoURL = ViewBag.QuarterTwoURL + "?type=beta" + ViewBag.queryStringAll;
		String QuarterThreeURL = ViewBag.QuarterThreeURL + "?type=beta" + ViewBag.queryStringAll;
	}




<div id="advancedFacetedSearch">
		<h3>Subject</h3>
	<ul class="subject">
		<li @(ViewBag.activeClass)>
			<a href="" >@ViewBag.Subject</a>
		</li>
	</ul>
	<p><a href="/">Change Subject</a></p>

	<h3>Class Format</h3>
	<div id="classformat">
		<p class="label_checkbox_pair">
			<input class="clear" type="checkbox" name="format" value="oncampus" />
			<label for="oncampus">On Campus</label>
		</p>
		<p class="label_checkbox_pair">
			<input class="clear" type="checkbox" name="format" value="online" />
			<label for="oncampus">Online</label>
		</p>
		<p class="label_checkbox_pair">
			<input class="clear" type="checkbox" name="format" value="hybrid" />
			<label for="oncampus">Hybrid</label>
		</p>
		<p class="label_checkbox_pair">
			<input class="clear" type="checkbox" name="format" value="telecourse" />
			<label for="oncampus">Telecourse</label>
	</p>
	</div>


	<h3>Days & Times</h3>
	<div id="times">
	<input id="timestart"  name="timestart" type="text" /> - <input id="timeend" name="timeend" type="text"  />
	</div>
	<div id="days">
		<div class="day">
			<div class="daylabel">Su</div>
				<input type="checkbox" name="day" value="day_su" />
		</div>
		<div class="day">
			<div class="daylabel">M</div>
			<input type="checkbox" name="day" value="day_m" />
		</div>
		<div class="day">
			<div class="daylabel">T</div>
			<input type="checkbox" name="day" value="day_t" />
		</div>
		<div class="day">
			<div class="daylabel">W</div>
			<input type="checkbox" name="day" value="day_w" />
		</div>
		<div class="day">
			<div class="daylabel">Th</div>
			<input type="checkbox" name="day" value="day_th" />
		</div>
		<div class="day">
			<div class="daylabel">F</div>
			<input type="checkbox" name="day" value="day_f" />
		</div>
		<div class="day">
			<div class="daylabel">S</div>
			<input type="checkbox" name="day" value="day_ss" />
		</div>

		<div id="submit">
			<input type="submit" id="submit_days_times" name="submitbtn" value="Refine >" />
		</div>
	</div>


	<h3>Availability</h3>
	<ul>
		<li><a href="">All</a></li>
		<li><a href="">Open</a></li>
	</ul>

	<h3>Classes Offered:</h3>
	<ul>
		<li @if(ViewBag.YearQuarter == "all" || ViewBag.YearQuarter == "")		{ @(ViewBag.activeClass) }>

			<a href="">All Credit Classes</a>
		</li>
		<li>
			<a href="@ViewBag.currentAppSubdirectory/Classes/@(QuarterOneURL)">@QuarterOneFriendly</a>
		</li>
		<li>
			<a href="@ViewBag.currentAppSubdirectory/Classes/@(QuarterTwoURL)">@QuarterTwoFriendly</a>
		</li>
		<li>
			<a href="@ViewBag.currentAppSubdirectory/Classes/@(QuarterThreeURL)">@QuarterThreeFriendly</a>
		</li>

	</ul>


</div>