@using Ctc.Ods.Types

<div id="basicFacetedSearch" class="sidenav">
		<h2>Browse for classes</h2>
	<h3>Subject</h3>
		<ul class="subject">
	@if (!string.IsNullOrWhiteSpace(ViewBag.Subject))
 {

			<li @(ViewBag.activeClass)>
				<a href="" >@ViewBag.Subject</a>
			</li>

 }
				<li>
				@Html.Partial("subjectNavigation")
				</li>
	</ul>

	@{
		string quarterViewing = ViewBag.QuarterViewing ?? string.Empty;
	}

	<h3>Classes Offered:</h3>
	<ul>
		<li @if (string.IsNullOrWhiteSpace(quarterViewing) || quarterViewing.ToUpper() == "ALL") { <text> class="active" </text> }>
			<a href="@Url.Action("AllClasses", "Classes")">All Credit Classes</a>
		</li>
	@foreach (YearQuarter yrq in ViewBag.QuarterNavMenu)
 {
		<li @if (quarterViewing == yrq.ID) { <text> class="active" </text> }>
			<a href="@Url.Action("YearQuarter", "Classes", new {YearQuarter = yrq.FriendlyName.Replace(" ", "")})">@yrq.FriendlyName</a>
		</li>
 }
	</ul>
</div>
