@using CTCClassSchedule
@using Ctc.Ods.Types
@{
	YearQuarter quarterViewing = ViewBag.YearQuarter;
	string subject = string.Empty;

	if (Model != null)
	{
		IEnumerable<SectionWithSeats> sections = (Model as IEnumerable<SectionWithSeats>);
		if (sections != null && sections.Count() > 0)
		{
			IList<string> subjects = (Model as IEnumerable<SectionWithSeats>).Select(s => s.CourseSubject).Distinct().ToList();
			subject = subjects.Count == 1 ? subjects[0] : string.Empty;
		}
	}
}

<div id="basicFacetedSearch" class="sidenav">
		<h2>Browse for classes</h2>
	<h3>Subject</h3>
		<ul class="subject">
	@if (!string.IsNullOrWhiteSpace(subject))
 {

			<li @(ViewBag.activeClass)>
				<span class="notlink">@subject</span>
			</li>

 }
				<li>
				@Html.Partial("subjectNavigation")
				</li>
	</ul>

	<h3>Classes Offered:</h3>
	<ul>
		<li @if (quarterViewing == null) { <text> class="active" </text> }>
			<a href="@Url.Action("AllClasses", "Classes")">All Credit Classes</a>
		</li>
	@foreach (YearQuarter yrq in ViewBag.QuarterNavMenu)
 {
		<li @if (quarterViewing != null && quarterViewing == yrq) { <text> class="active" </text> }>
			<a href="@Url.Action("YearQuarter", "Classes", new {YearQuarter = yrq.FriendlyName.Replace(" ", "")})">@yrq.FriendlyName</a>
		</li>
 }
	</ul>
</div>
