@using CTCClassSchedule
@using Ctc.Ods.Types
@{
	YearQuarter quarterViewing = ViewBag.YearQuarter;
	string subject = string.Empty;

	//ICollection<string> foo = ViewData.Keys;
	//RouteValueDictionary bar = ViewContext.RouteData.DataTokens;
	if (ViewContext.RouteData.Values.ContainsKey("Subject"))
	{
		subject = ViewContext.RouteData.Values["Subject"].ToString();
	}
	else if (ViewData.Keys.Contains("Subject"))
	{
		subject = ViewData["Subject"].ToString();
	}
}

<div id="basicFacetedSearch" class="sidenav">
		<h2>Browse for classes</h2>
	<h3>Subject</h3>
		<ul class="subject">
	@if (!string.IsNullOrWhiteSpace(subject))
 {
			<li @(ViewBag.activeClass)>
				<span class="notlink">@subject</span>
			</li>
 }
				<li>
				@Html.Partial("subjectNavigation")
				</li>
	</ul>

	<h3>Classes Offered:</h3>
	<ul>
		<li @if (quarterViewing == null) { <text> class="active" </text> }>
			<a href="@Url.Action("AllClasses", "Classes")">All Credit Classes</a>
		</li>
	@foreach (YearQuarter yrq in ViewBag.QuarterNavMenu)
 {
		<li @if (quarterViewing != null && quarterViewing == yrq) { <text> class="active" </text> }>
			<a href="@Url.Action("YearQuarter", "Classes", new {YearQuarter = yrq.FriendlyName.Replace(" ", "")})">@yrq.FriendlyName</a>
		</li>
 }
	</ul>
</div>
