<div id="basicFacetedSearch">
	<h3>Subject</h3>
	@if (!string.IsNullOrWhiteSpace(ViewBag.Subject))
 {
		<ul class="subject">
			<li @(ViewBag.activeClass)>
				<a href="" >@ViewBag.Subject</a>
			</li>
		</ul>
 }
 @Html.Partial("subjectNavigation")


	@{
		//viewbag variables are dynamic, so we need to convert to string to use with the Html.ActionLink
		String QuarterOneFriendly = (String)ViewBag.QuarterOneFriendly;
		String QuarterTwoFriendly = (String)ViewBag.QuarterTwoFriendly;
		String QuarterThreeFriendly = (String)ViewBag.QuarterThreeFriendly;
		String QuarterFourFriendly = (String)ViewBag.QuarterFourFriendly;

		String QuarterOneURL = (String)ViewBag.QuarterOneURL;
		String QuarterTwoURL = (String)ViewBag.QuarterTwoURL;
		String QuarterThreeURL = (String)ViewBag.QuarterThreeURL;
		String QuarterFourURL = (String)ViewBag.QuarterFourURL;

	}


	<h3>Classes Offered:</h3>
	<ul>
		<li @if (ViewBag.YearQuarter == "all" || ViewBag.YearQuarter == "")
			{ @(ViewBag.activeClass) }>
			<a href="@ViewBag.currentAppSubdirectory/Classes/All">All Credit Classes</a>
		</li>
		<li @if (ViewBag.YearQuarterHP == ViewBag.QuarterOne.ToString())
			{ @(ViewBag.activeClass) }>
			<a href="@ViewBag.currentAppSubdirectory/Classes/@QuarterOneURL">@QuarterOneFriendly</a>
		</li>
		<li @if (ViewBag.YearQuarterHP == ViewBag.QuarterTwo.ToString())
			{ @(ViewBag.activeClass) }>
			<a href="@ViewBag.currentAppSubdirectory/Classes/@(QuarterTwoURL)">@QuarterTwoFriendly</a>
		</li>
		<li @if (ViewBag.YearQuarterHP == ViewBag.QuarterThree.ToString())
			{ @(ViewBag.activeClass) }>
			<a href="@ViewBag.currentAppSubdirectory/Classes/@(QuarterThreeURL)">@QuarterThreeFriendly</a>
		</li>
		<li @if (ViewBag.YearQuarterHP == ViewBag.QuarterFour.ToString())
			{ @(ViewBag.activeClass) }>
			<a href="@ViewBag.currentAppSubdirectory/Classes/@(QuarterFourURL)">@QuarterFourFriendly</a>
		</li>

	</ul>

</div>
