@{
	string modifiedQueryString;
	int firstChar = Request.QueryString.ToString().IndexOf("&p_offset");
	if (firstChar != -1)
	{
		modifiedQueryString = Request.QueryString.ToString().Remove(firstChar);
	}
	else {
		modifiedQueryString = Request.QueryString.ToString();
	}

	string prev_offset, next_offset;
	if (ViewBag.p_offset != 0)
	{
		 prev_offset = Convert.ToString(ViewBag.p_offset - 1);
	}
	else {
		prev_offset = "0";
	}

	if (ViewBag.p_offset < ViewBag.ItemCount)
	{
		next_offset = Convert.ToString(ViewBag.p_offset + 1);
	}
	else {
		next_offset = Convert.ToString(ViewBag.p_offset);
	}

}


@if (ViewBag.ItemCount > 40) {
       <div id="pager"><div id="pagerNums">

		<a href="@Url.Content("~/Search/")?@modifiedQueryString&p_offset=@prev_offset" id="pagerArrowLeft">&lt; Previous</a> @Html.Raw("<span id='pagerPages'>Pages: ")
		@for (int i = 0; i < (int)(ViewBag.TotalPages); i++)
		{
            if (((int)(ViewBag.CurrentPage) - 1) == i)
			{
				<span class="selected">@(i + 1)</span>
			}
			else {
				<a href="@Url.Content("~/Search/")?@modifiedQueryString&p_offset=@i"> @(i + 1)</a>
			}

		}
		@Html.Raw("</span>")
        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a href="@Url.Content("~/Search/")?@modifiedQueryString&p_offset=@next_offset" id="pagerArrowRight">Next &gt;</a>
        }

     </div></div>
}