@*
<div id="navcontainer">
<ul id="navlist">

*@
@{
	//viewbag variables are dynamic, so we need to convert to string to use with the Html.ActionLink
	String QuarterOneFriendly = (String)ViewBag.QuarterOneFriendly;
	String QuarterTwoFriendly = (String)ViewBag.QuarterTwoFriendly;
	String QuarterThreeFriendly = (String)ViewBag.QuarterThreeFriendly;

	String QuarterOneURL = (String)ViewBag.QuarterOneURL;
	String QuarterTwoURL = (String)ViewBag.QuarterTwoURL;
	String QuarterThreeURL = (String)ViewBag.QuarterThreeURL;

	String selected = " selected";

}

@*

<li @if(ViewBag.YearQuarter == "all" || ViewBag.YearQuarter == "")		{ @(ViewBag.activeClass) }>@Html.ActionLink("All Credit Classes", "All")</li>
<li @if(ViewBag.YearQuarterHP == ViewBag.QuarterOne.ToString())				{ @(ViewBag.activeClass) }>@Html.ActionLink(QuarterOneFriendly, QuarterOneURL)</li>
<li @if (ViewBag.YearQuarterHP == ViewBag.QuarterTwo.ToString())			{ @(ViewBag.activeClass) }>@Html.ActionLink(QuarterTwoFriendly, QuarterTwoURL)</li>
<li @if (ViewBag.YearQuarterHP == ViewBag.QuarterThree.ToString())		{ @(ViewBag.activeClass) }>@Html.ActionLink(QuarterThreeFriendly, QuarterThreeURL)</li>
<li><a href="http://bellevuecollege.edu/programs/continuing/">Continuing Education</a></li>
<li><a href="http://bellevuecollege.edu/careers/">Career Center</a></li>
</ul>
</div>

*@

@using(Html.BeginForm("Index", "Search", FormMethod.Post)) {
<div id="navbar">
	<div id="browse">Browse for Classes</div>
	<div id="search">
		Search
		<select name="quarter">
			<option value="@QuarterOneURL">@QuarterOneFriendly</option>
			<option value="@QuarterTwoURL">@QuarterTwoFriendly</option>
			<option value="@QuarterThreeURL">@QuarterThreeFriendly</option>
			<option value="CE">Continuing Education</option>
		</select>
		<input type="text" class="searchInput" name="searchterm" />
		<input type="submit" class="searchSubmit"  name="submit" value="Go" />

	</div>

</div> <!-- TODO: configurable? -->
<div id="register"><a href="http://bellevuecollege.edu/enrollment/registration/register/">Register</a></div>
}