@using Ctc.Ods.Types
@using CTCClassSchedule
@using CTCClassSchedule.Common
@model IEnumerable<CTCClassSchedule.SectionWithSeats>
@{
	string PreviousSectionID = string.Empty;
}

@foreach (SectionWithSeats sec in Model)
{
	string sectionID = sec.ID.ToString();

		<li class="section-listing"><span class="item-number"><span class="descriptor">Item
			number: </span>@sec.ID.ItemNumber</span>
			<ul class="section-details">
				<li class="section"><span class="descriptor">Section: </span>@sec.SectionCode</li>
				<li class="instructor"><span class="descriptor">Instructors:</span>
					<ul>
						@foreach (OfferedItem item in sec.Offered.OrderBy(o => o.SequenceOrder))
			{
				// instructors
				if (!string.IsNullOrWhiteSpace(item.InstructorName))
				{
							<li><a href="@Helpers.getProfileURL(Convert.ToString(item.InstructorID))">@item.InstructorName</a></li>
				}
				else
				{
							<li>&nbsp;</li>
				}
			}
					</ul>
				</li>
				<li><span class="descriptor">Meets: </span>
					<ul class="meets">
						@foreach (OfferedItem item in sec.Offered.OrderBy(o => o.SequenceOrder))
			{
				// meeting times
							<li>
								@if (sec.IsOnline)
				{
									<span class="online">Online</span>
				}
				else
				{
									<span class="days">
										<abbr title="** TITLE GOES HERE **">@item.Days</abbr></span>
									<span class="times"><span class="descriptor">at </span>@String.Format("{0:t}", item.StartTime).Replace(" ", "")-@String.Format("{0:t}", item.EndTime).Replace(" ", "")</span>
									<span class="room"><span class="descriptor">in </span>@item.Room</span>
				}
							</li>
			}
					</ul>
				</li>
				@if (sectionID != PreviousSectionID)
		{
				if (sec.SeatsAvailable != int.MinValue)
		{
					<li class="availability" id="availability-@sectionID"><span class="descriptor">Seat
						Availability: </span>
						@if (@sec.SeatsAvailable <= 0 || sec.WaitlistCount > 0)
			{
							<strong class="seatsAvailable">class full, @sec.WaitlistCount on waitlist</strong>
							<span class="course-updated"></span>
			}
			else
			{
							<strong class="seatsAvailable">@sec.SeatsAvailable</strong>
							<span class="course-updated"><em>updated @sec.LastUpdated</em> <a id="@sectionID">
								[update]</a></span>
			}
					</li>
		}

					<li class="section-notes"><span class="descriptor">Notes: </span>
						<ul>
							@if (@sec.Footnotes != null && @sec.Footnotes.Count() > 0)
			 {
				 foreach (string note in @sec.Footnotes)
				 {
								<li><span class="label">@note</span></li>
				 }
			 }
			 else
			 {
								<li><span class="label">&nbsp;</span></li>
			 }
						</ul>
					</li>
		}
			</ul>
		</li>
	PreviousSectionID = sectionID;
}